<div class="services-introductary-triangle services-introductary-triangle--<%= category_section.category_colour %>" data-animation-type="slideInDown">
  <div class="services-introductary-triangle__inner services-introductary-triangle__inner--<%= category_section.category_colour %>">
    <div class="services-introductary-triangle__text services-introductary-triangle__text--<%= category_section.category_colour %>">
      <h1 class="services-introductary-triangle__title">
        <strong><%= category_section.title %></strong>
      </h1>

      <div class="services-introductary-triangle__content">
        <%= raw category_section.content %>
      </div>
    </div>
  </div>
</div>

<%= render category_section.items.displayed %>
