<div class="hero-section">
  <div class="hero-section-header">
    <h1 class="hero-section-title">
      Client Zone Guides
    </h1>
  </div>

  <div class="wellbeing content">
    <% if @wellbeing_facade.body_parts.present? %>
      <section class="flexbox-wrap">
        <div class="body-parts-container">
          <div class="body-parts">
            <% if @general_wellbeing_category.present? %>
              <div class="body-part">
                <%= link_to general_well_being_client_zone_guides_path(anchor: 'guides') do %>
                  <div class="name text-center wellbeing-full-section-button green-background">
                    <%= @general_wellbeing_category.name %>
                  </div>
                  <%= image_tag @general_wellbeing_category.image.show, alt: @general_wellbeing_category.name %>
                  <% if @general_wellbeing_category.tagline.present? %>
                    <div class="tagline text-center">
                      <%= @general_wellbeing_category.tagline %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>

            <%= render(
              partial: "client_zone/guides/shared/body_part",
              collection: @wellbeing_facade.body_parts,
              as: :body_part,
              cache: @wellbeing_facade.body_parts
            ) %>
          </div>
        </div>
      </section>
    <% end %>
  </div>
</div>
