<%= content_for :javascript do %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= javascript_include_tag 'vendor/jquery.viewport' %>

  <script>
    // http://craftedpixelz.co.uk/blog/conditional-js-with-modernizr-mq/
    if (Modernizr.mq('only screen and (min-width: 1200px)')) {
      var $bodyPartNavigation, $stickyBodyPartNavigation;

      function setStickyNavigation() {
        if($('.hero-navigation:in-viewport').length === 1 && $stickyBodyPartNavigation !== undefined) {
          $stickyBodyPartNavigation.hide();
        } else if($stickyBodyPartNavigation !== undefined) {
          $stickyBodyPartNavigation.show();
        }
      }

      function buildStickyNavigation() {
        var visibleLis = $('.body-part-section-navigation-links').html();
        var contactMethods = $('.page-contact-method-links').html();
        $('.sticky-hero-navigation-links').html(visibleLis);
        $('.sticky-page-contact-methods').html(contactMethods);
        setStickyNavigation();
      }

      $(window).load(function() {
        $bodyPartNavigation = $('.hero-navigation');
        $stickyBodyPartNavigation = $('.sticky-hero-navigation');
        buildStickyNavigation();
      });

      $(window).scroll(function() {
        setStickyNavigation();
      });
    }

    // Adapted from http://stackoverflow.com/questions/7717527/jquery-smooth-scrolling-when-clicking-an-anchor-link
    var $root, offsetTop = 0;

    function smoothScroll(elem) {
      $root.animate({
        scrollTop: $(elem).offset().top - offsetTop
      }, 500, function () {
        window.location.hash = elem;
      });
    }

    $(function() {
      if (Modernizr.mq('only screen and (min-width: 1200px)')) {
        offsetTop = 50;
      }

      $root = $('html, body');

      var windowAnchor = window.location.hash;
      if(windowAnchor !== undefined && $(windowAnchor).length === 1) {
        smoothScroll(windowAnchor);
      }
    });

    $(document).on('click', 'a[href^="#"]:not(.body-part-tabs a)', function() {
      var elem = $.attr(this, 'href');
      smoothScroll(elem);
      return false;
    });
  </script>
<% end %>

<div class="sticky-hero-navigation">
  <div class="sticky-hero-navigation-content">
    <span class="sticky-body-part-name">
      <%= @body_part_facade.name %>
    </span>

    <ul class="sticky-hero-navigation-links">
    </ul>

    <ul class="sticky-page-contact-methods">
    </ul>
  </div>
</div>

<div class="hero-section body-part-background">
  <div class="hero-section-header">
    <h1 class="hero-section-title">
      <%= @body_part_facade.name %>
    </h1>
  </div>

  <div class="hero-section-primary-content">
    <div class="hero-navigation-wrap">
      <div class="hero-navigation">
        <ul class="hero-navigation-links">
          <li class="hero-navigation-top-level">
            <%= link_to @body_part_facade.name,
              client_zone_guide_path(@body_part_facade.body_part),
              class: 'current-body-part' %>

            <ul class="hero-navigation-links-dropdown">
              <% @body_part_facade.other_body_parts.each do |body_part| %>
                <%= content_tag :li, (link_to body_part.name, client_zone_guide_path(body_part, anchor: 'guides'), class: 'body-part-link', title: body_part.name) %>
              <% end %>
            </ul>
          </li>
        </ul>

        <ul class="body-part-section-navigation-links">
          <%= content_tag :li, (link_to 'Guides', '#guides') if @body_part_facade.guides.present? %>
        </ul>
      </div>
    </div>

    <div class="body-part-summary-wrap">
      <div class="body-part-summary">
        <%= raw @body_part_facade.summary %>
      </div>
    </div>

    <div class="page-contact-methods-wrap">
      <%= render(
        partial: 'shared/sidebar',
        locals: {
          call_to_action: true,
          testimonials: nil,
          team_members: nil,
          health_zone: nil,
          case_studies: nil,
          articles: nil,
        },
        cache: 'call_to_action'
      ) %>
    </div>
  </div>

  <div id="main-content" class="content wellbeing-guides-content">
    <% if @body_part_facade.guides.present? %>
     <section class="box-wrap" id="guides">
       <div class="guides-container">

         <div class="body-part-guides-title">
           <h2 class="guides-container-title">Guides</h2>
         </div>

         <div class="guides wellbeing">
           <%= render partial: 'guides/guide',
             collection: @body_part_facade.guides, as: :guide %>
         </div>
       </div>
     </section>
    <% end %>
    </div>
  </div>
</div>
