<div class="<%= parent_class %>-point <%= parent_class %>-point--<%= current_service.colour %>">

  <h2 class="<%= parent_class %>-point__title <%= parent_class %>__title--<%= current_service.colour %>">
    <%= item.title %>
  </h3>

  <div class="<%= parent_class %>-point__content">
    <div class="<%= parent_class %>-point__subtitle">
      <%= item.subtitle %>
    </div>
    <%= raw item.content %>
  </div>
</div>
