<div class="services-affiliates-item">
  <h3 class="services-affiliates-item__title">
    <%= item.title %>
  </h3>

  <div class="services-affiliates-item__image">
    <%= image_tag item.image.url, alt: '' %>
    <div class="services-affiliates-item__icon">
      <%= image_tag 'components/services/affiliates/quotes.png', alt: '' %>
    </div>
  </div>

  <div class="services-affiliates-item__content">
    <%= raw item.content %>
  </div>

  <%= link_to item.button_text, item.button_link, class: 'services-affiliates-item__link' if item.button_link? %>
</div>
