<div class="hero-section standard-page-background">
  <div class="hero-section-header">
    <h1 class="hero-section-title page full-width">
      Physio Network - Videos
    </h1>
  </div>

  <div class="hero-section-primary-content">
    <div class="page-content-wrap full-width">
      <div class="page-content physio-video-section">
        <div>
          <h2>Initial Assessment Video</h2>
          <div style="position:relative;height:0;padding-bottom:56.25%"><iframe class='sproutvideo-player' src='//videos.sproutvideo.com/embed/e89bdfb5141ceccb60/bc3ff9b49120835f?type=hd' style='position:absolute;width:100%;height:100%;left:0;top:0' frameborder='0' allowfullscreen></iframe></div>
          <div class="download-links">
            <%= image_tag 'word_logo.png', title: 'Word', alt: 'Word' %>
            <%= link_to 'Download Initial Assessment Report - Annotated macros', "#{ root_url }#{ URI.encode('Initial Assessment Report - Annotated macros.docx') }", class: 'button brown-background' %>
          </div>
        </div>

        <div>
          <h2>Interim Report Video</h2>
          <div style="position:relative;height:0;padding-bottom:56.25%"><iframe class='sproutvideo-player' src='//videos.sproutvideo.com/embed/a49bdfb5141cecc42c/5cb1cf02e74d3fe3?type=hd' style='position:absolute;width:100%;height:100%;left:0;top:0' frameborder='0' allowfullscreen></iframe></div>
          <div class="download-links">
            <%= image_tag 'word_logo.png', title: 'Word', alt: 'Word' %>
            <%= link_to 'Download Interim Report - Annotated macros', "#{ root_url }#{ URI.encode('Interim Report - Annotated macros.docx') }", class: 'button brown-background' %>
          </div>
        </div>

        <div>
          <h2>Discharge Report Video</h2>
          <div style="position:relative;height:0;padding-bottom:56.25%"><iframe class='sproutvideo-player' src='//videos.sproutvideo.com/embed/4c9bdfb5141cecc6c4/d06be6f25955f904?type=hd' style='position:absolute;width:100%;height:100%;left:0;top:0' frameborder='0' allowfullscreen></iframe></div>
          <div class="download-links">
            <%= image_tag 'word_logo.png', title: 'Word', alt: 'Word' %>
            <%= link_to 'Download Discharge Report - Annotated macros', "#{ root_url }#{ URI.encode('Discharge Report - Annotated macros.docx') }", class: 'button brown-background' %>
          </div>
        </div>
      </div>
    </div>

    <div class="page-contact-methods-wrap">
      <div class="page-sidebar-information">
        <%= link_to 'https://pronto-network.com/Pronto-And-Physiomed.aspx', target: '_blank', rel: 'noopener', class: 'pronto-network' do %>
          <%= image_tag 'pronto-network.png', alt: 'Pronto', class: 'pronto-network-logo' %>
          Our Referral Process
        <% end %>
      </div>
    </div>
  </div>
</div>
