<%= content_for :javascript do %>
  <%= javascript_include_tag 'components/physio-searches' %>
<% end %>

<div class="hero-section standard-page-background">
  <div class="hero-section-header">
    <h1 class="hero-section-title page full-width">
      Find a Physio
    </h1>
  </div>

  <div class="hero-section-primary-content">
    <div class="page-content-wrap full-width">
      <div class="page-content">
        <p>We have found <%= pluralize(@results.size, 'result') %> for your search.</p>

        <% if @results.present? %>
          <div id="physio-search-map-canvas" class="find-a-physio-map-canvas" data-locations="<%= @results.to_json %>">
          </div>

          <div class="physio-search-results-list">
            <%= render(
              partial: "physio_searches/result",
              collection: @results,
              as: :practice
            ) %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="page-contact-methods-wrap">
      <%= render partial: 'shared/sidebar', locals: {
        hide_case_studies: true,
        hide_articles: true
      }
      %>
    </div>
  </div>
</div>
