<%= simple_form_for @practice_application do |f| %>
  <%= field_set_tag 'Practice Details' do %>
    <%= f.input :name %>
    <%= f.input :address, as: :text %>
    <%= f.input :county %>
    <%= f.input :postcode %>
    <%= f.input :telephone, as: :tel %>
    <%= f.input :fax, as: :tel %>
    <%= f.input :email, as: :email %>
    <%= f.input :first_contact_name %>
    <%= f.input :first_contact_position %>
    <%= f.input :second_contact_name %>
    <%= f.input :second_contact_position %>
    <%= f.input :established %>
  <% end %>

  <%= field_set_tag 'Opening Hours' do %>
    <%= f.input :monday %>
    <%= f.input :tuesday %>
    <%= f.input :wednesday %>
    <%= f.input :thursday %>
    <%= f.input :friday %>
    <%= f.input :saturday %>
    <%= f.input :sunday %>
  <% end %>

  <%= field_set_tag 'Treatment Charges' do %>
    <%= f.input :initial_assessment_cost %>
    <%= f.input :initial_assessment_duration %>
    <%= f.input :subsequent_treatment_cost %>
    <%= f.input :subsequent_treatment_duration %>
  <% end %>

  <%= field_set_tag 'Practitioners' do %>
    <p>
      Please note that practitioners need to have more than 4 years MSK experience
    </p>

    <div id="practitioners">
      <%= f.simple_fields_for :practitioners do |practitioner| %>
        <%= render 'practice_applications/practitioner_fields', f: practitioner %>
      <% end %>
      <div class="links">
        <%= link_to_add_association "Add Practitioner", f, :practitioners, class: 'button brown-background' %>
      </div>
    </div>
  <% end %>

  <%= field_set_tag 'Additional required information' do %>
    <%= f.input :manual_therapy, collection: PracticeApplication.percentages %>
    <%= f.input :capacity, collection: PracticeApplication.percentages %>
    <%= f.input :treatment_rooms, collection: PracticeApplication::NUMBERS %>
    <%= f.input :parking_facilities, collection: [["Yes", true], ["No", false]] %>
    <%= f.input :receptionist, collection: [["Yes", true], ["No", false]] %>
    <%= f.input :disabled_access, collection: [["Yes", true], ["No", false]] %>
    <%= f.input :tm2_or_pps,
      collection: ['TM2', 'PPS', 'Both'], prompt: 'Please select' %>
    <%= f.input :online_booking,
      collection: [['No', false], ['Yes', true]], prompt: 'Please select' %>

      <%= f.input :bupa_registered, collection: [["Yes", true], ["No", false]] %>
      <%= f.input :domiciliary_visits, collection: [["Yes", true], ["No", false]] %>

    <%= f.input :cancellation_policy, as: :text %>
    <%= f.input :public_liability_insurance,
      collection: [['No', false], ['Yes', true]], prompt: 'Please select' %>
    <%= f.input :employee_liability_insurance,
      collection: [['No', false], ['Yes', true]], prompt: 'Please select' %>
    <%= f.input :description, as: :text %>
  <% end %>

  <%= field_set_tag 'Declaration' do %>
    <p>
      I wish to apply for membership to Physio Med provider Network. The information I have supplied on this application form is accurate and correct.
    </p>

    <p>
      I would like to register to receive referrals through the Physio Med Provider Referral Programme and will forward a copy of my proof of insurance.
    </p>

    <p>
    I have read and agree to the <%= link_to "Business Terms and Conditions", "/terms-of-business.pdf", :target => "_blank" %>.
    I understand that by submitting this form I am not under any obligation to accept referrals.
    </p>

    <%= f.input :terms_and_conditions, as: :boolean %>
  <% end %>

  <%= f.button :submit, class: 'button green-background' %>
<% end %>
