<div class="nested-fields">
  <%= field_set_tag 'Practitioner Details' do %>
    <%= f.input :name %>
    <%= f.input :qualification_date, as: :date, order: [:day, :month, :year] %>
    <%= f.input :years_practicing %>
    <%= link_to_remove_association 'Remove Practitioner', f, class: 'button brown-background' %>
  <% end %>
</div>
