<% present services_section do |services_section_presenter| %>
  <div class="row collapse module-list-index <%= cycle('odd', 'even') %>" id="item_<%= services_section_presenter.id %>">
    <div class="large-1 hide-for-medium-down columns">
      <span class="drag-helper"></span>
    </div>
    <div class="columns">
      <%= services_section_presenter.title %><br />
      <%= services_section_presenter.manage_section_items %>
    </div>
    <div class="large-2 hide-for-medium-down columns">
      <%= link_to (image_tag services_section.image.thumb, alt: ''), edit_images_service_section_path(services_section.service, services_section) %>
    </div>
    <div class="large-1 small-4 text-center columns">
      <%= services_section_presenter.toggle_link %>
    </div>
    <div class="large-1 small-4 text-center columns">
      <%= services_section_presenter.view_link %>
    </div>
    <div class="large-1 small-4 text-center columns">
      <%= services_section_presenter.edit_link %>
    </div>
    <div class="large-1 text-center columns last">
      <%= services_section_presenter.delete_link %>
    </div>
  </div>
<% end %>
