<%= content_for :javascript do %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= javascript_include_tag 'vendor/jquery.viewport' %>
  <script>
    // http://craftedpixelz.co.uk/blog/conditional-js-with-modernizr-mq/
                if (Modernizr.mq('only screen and (min-width: 1200px)')) {
                  var $bodyPartNavigation, $stickyBodyPartNavigation;

                  function setStickyNavigation() {
                    if($('.hero-navigation:in-viewport').length === 1 && $stickyBodyPartNavigation !== undefined) {
                      $stickyBodyPartNavigation.hide();
                    } else if($stickyBodyPartNavigation !== undefined) {
                      $stickyBodyPartNavigation.show();
                    }
                  }

                  function buildStickyNavigation() {
                    var visibleLis = $('.body-part-section-navigation-links').html();
                    var contactMethods = $('.page-contact-method-links').html();
                    $('.sticky-hero-navigation-links').html(visibleLis);
                    $('.sticky-page-contact-methods').html(contactMethods);
                    setStickyNavigation();
                  }

                  $(window).load(function() {
                    $bodyPartNavigation = $('.hero-navigation');
                    $stickyBodyPartNavigation = $('.sticky-hero-navigation');
                    buildStickyNavigation();
                  });

                  $(window).scroll(function() {
                    setStickyNavigation();
                  });
                }

                // Adapted from http://stackoverflow.com/questions/7717527/jquery-smooth-scrolling-when-clicking-an-anchor-link
                var $root, offsetTop = 0;

                function smoothScroll(elem) {
                  $root.animate({
                    scrollTop: $(elem).offset().top - offsetTop
                  }, 500, function () {
                    window.location.hash = elem;
                  });
                }

                $(function() {
                  if (Modernizr.mq('only screen and (min-width: 1200px)')) {
                    offsetTop = 50;
                  }

                  $root = $('html, body');

                  var windowAnchor = window.location.hash;
                  if(windowAnchor !== undefined && $(windowAnchor).length === 1) {
                    smoothScroll(windowAnchor);
                  }
                });

                $(document).on('click', 'a[href^="#"]:not(.body-part-tabs a):not(.landing-page-tab-toggle)', function() {
                  var elem = $.attr(this, 'href');
                  smoothScroll(elem);
                  return false;
                });

                $(document).on('click', '.landing-page-tab-toggle', function() {
                  var anchor = $(this).data('anchor');
                  $('a[href="' + anchor + '"]').click();
                });

                $(document).ready(function() {
                  $('.colorbox').colorbox();
                  $(".guides").slick({
                    slidesToShow: 2,
                    slidesToScroll: 1,
                    autoplay: false,
                    arrows: true,
                    prevArrow: '.slick-guides.slick-prev',
                    nextArrow: '.slick-guides.slick-next',
                  });
                });
  </script>
<% end %>
<div class="sticky-hero-navigation">
  <div class="sticky-hero-navigation-content">
    <span class="sticky-body-part-name">
      <%= @facade.title %>
    </span>
    <ul class="sticky-hero-navigation-links">
    </ul>
    <ul class="sticky-page-contact-methods">
    </ul>
  </div>
</div>
<div class="hero-section cquin-background">
  <div class="hero-section-header">
    <h1 class="hero-section-title">
      <%= @facade.title %>
    </h1>
  </div>
  <div class="hero-section-primary-content">
    <div class="hero-navigation-wrap">
      <div class="hero-navigation">
        <ul class="body-part-section-navigation-links">
          <%= content_tag :li, (link_to 'What We Do',  '#what-we-do') %>
          <%= content_tag :li, (link_to @facade.sections.first.title.titleize,  '#tabs') if @facade.sections.present? %>
          <%= content_tag :li, (link_to 'Success Rates', '#success-rates') if @facade.service_standards.present? %>
          <%= content_tag :li, (link_to 'Guides', '#guides-anchor') if @facade.guides.present? %>
          <%= content_tag :li, (link_to "Case Studies", '#case-studies') if @facade.case_studies.present? %>
          <%= content_tag :li, (link_to "Testimonials", '#testimonials') if @facade.testimonials.present? %>
          <%= content_tag :li, (link_to "Clinical Team", '#team-members') if @facade.team_members.present? %>
          <%= content_tag :li, (link_to "FAQs", '#faqs') if @facade.faqs.present? %>
          <%= content_tag :li, (link_to "Contact Us", '#contact-us') %>
        </ul>
      </div>
    </div>
    <div class="body-part-summary-wrap">
      <div class="body-part-summary">
        <%= raw @facade.content %>
      </div>
    </div>
    <div class="page-contact-methods-wrap">
      <%= render(
        partial: 'shared/sidebar',
        locals: {
          call_to_action: true,
          testimonials: nil,
          team_members: nil,
          health_zone: nil,
          case_studies: nil,
          articles: nil,
        },
        cache: 'call_to_action'
      ) %>
    </div>
  </div>
  <div id="main-content" class="content landing-page cquin">
    <div class="content wellbeing section">
      <section class="flexbox-wrap" id="what-we-do">
        <div class="additional-home-content text">
          <h3 class="content-box-title"><%= @facade.additional_content.title %></h3>
          <%= raw @facade.additional_content.content %>
        </div>
        <% if @facade.video %>
          <div class="video-section">
            <%= render(
              partial: "videos/video",
              object: @facade.video,
              cache: @facade.video
            ) %>
          </div>
        <% end %>
      </section>
      <% if @facade.sections.present? %>
        <%= content_for :javascript do %>
          <%= javascript_include_tag "components/body_part_sections" %>
        <% end %>
        <section class="box-wrap" id="body-part-sections">
          <div class="body-part-sections-container">
            <ul id="tabs" class="body-part-tabs">
              <% @facade.sections.each_with_index do |body_part_section, i| %>
                <%= content_tag :li, class: (i.zero? ? "current" : nil) do %>
                  <%= link_to body_part_section.title, "#body-part-section-#{ body_part_section.id }" %>
                <% end %>
              <% end %>
            </ul>
            <div class="body-part-sections">
              <%= render(
          partial: "wellbeing_zone/body_part_sections/body_part_section",
          collection: @facade.sections,
          as: :body_part_section,
          cache: @facade.sections
        ) %>
            </div>
          </div>
        </section>
      <% end %>
      <%= content_for :javascript do %>
        <%= javascript_include_tag "components/service_standards" %>
      <% end %>
      <div class="service-standards-wrap" id="success-rates">
        <section class="box-wrap">
          <div class="service-standards">
            <h2 class="service-standards-title text-center">Our Success Rates</h2>
            <p class="service-standards-text text-center">Below is the average benchmark data from 9 NHS Trusts who currently use our blended delivery model</p>
            <div class="service-standard-wrap">
              <%= render @facade.service_standards %>
            </div>
          </div>
        </section>
      </div>

      <% if @facade.guides.present? %>
        <a id="guides-anchor"></a>
        <%= render partial: 'guides/full_guide',
                  locals: { guide: @facade.guides.first, ga_event_name: 'CQUIN Guide', ga_action_name: 'Download', ga_label_name: 'CQUIN Campaign Brochure' } %>

        <section class="flexbox-wrap" id="additional-guides">
          <%= render partial: 'landing_pages/cquin/additional_guide_block', locals: {
              title: 'Wellbeing Zone',
              image: (Category.find(13).present? ? Category.find(13).image.url : nil),
              button_text: 'Find out more',
              button_link: wellbeing_zone_root_path
            } %>

          <% @facade.guides.limit(3).drop(1).each do |guide| %>
            <%= render partial: 'guides/split_guide',
                      locals: { guide: guide, ga_event_name: guide.title, ga_action_name: 'Download', ga_label_name: guide.title } %>
          <% end %>
        </section>
      <% end %>
      <section class="flexbox-wrap" id="faqs">
        <%= render(
          "wellbeing_zone/shared/faqs_section",
          faqs: @facade.faqs,
          cache: @facade.faqs,
        ) %>
      </section>
      <% if @facade.videos_with_guides.present? %>
        <% @facade.videos_with_guides.each do |video| %>
          <%= render partial: 'videos/video_with_guide',
          locals: { video: video, guide: video.guide }, cache: [@facade, video] %>
        <% end %>
      <% end %>
      <section class="flexbox-wrap  case-studies-and-testimonials">
        <%= render(
          "wellbeing_zone/shared/case_studies_section",
          case_studies: @facade.case_studies,
          cache: @facade.case_studies
        ) %>
        <%= render(
          "wellbeing_zone/shared/testimonials_section",
          testimonials: @facade.testimonials,
          cache: @facade.testimonials
        ) %>
      </section>
      <%= render(
              "wellbeing_zone/shared/team_member_section.html.erb",
              team_members: @facade.team_members,
              cache: @facade.team_members
            ) %>

      <section class="box-wrap">
        <div class="videos-with-guides-container" id="contact-us">
          <div class="videos-with-guides-container-title">
            <h2>
              For more information, please contact us
            </h2>
          </div>
          <div class="videos-with-guides wellbeing">
            <div class="video-with-guide">
              <div class="basic-details cta-width">
                <p>
                  If you want to find out how Physio Med can help your organisation or if you would like to arrange a site visit, please get in touch via the form below.
                </p>

                <%= render 'contacts/remote_form' %>
              </div>
              <%= render(
                partial: 'shared/sidebar',
                locals: {
                  call_to_action: true,
                  testimonials: nil,
                  team_members: nil,
                  health_zone: nil,
                  case_studies: nil,
                  articles: nil,
                },
                cache: 'call_to_action'
              ) %>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
</div>
