<div class="hero-section standard-page-background">
  <div class="hero-section-header">
    <h1 class="hero-section-title full-width">
      <%= link_to 'Videos', subcategories_path %>: <%= @subcategory.title %>
    </h1>
  </div>

  <div class="hero-section-primary-content">
    <div class="page-content-wrap full-width">
      <div class="video-with-guide page-content">
        <%= raw @subcategory.summary %>

        <div class="video-with-guide-download-button">
          <%= link_to 'View all', subcategories_path, class: 'button brown-background' %>
        </div>
      </div>

      <% @subcategory.videos.each do |video| %>
        <%= render partial: 'videos/video_with_guide_button',
          locals: { video: video } %>
      <% end %>
    </div>

    <div class="page-contact-methods-wrap">
      <%= render partial: 'shared/sidebar' %>
    </div>
  </div>
</div>
