<div class="service-categories-navigation <%= "service-categories-navigation--service service-categories-navigation--service--#{current_service.colour}" if defined?(current_service) %>">
  <div class="service-categories-navigation__inner">
    <h2 class="service-categories-navigation__title"><%= link_to facade.parent_category_title, service_categories_path %></h2>


    <ul class="service-categories-top-level-usps">
      <li class="service-categories-top-level-usps__item">
        <%= link_to 'What', '/services/what-we-do/we-prevent-people-going-off-work', class: 'service-categories-top-level-usps__link service-categories-top-level-usps__link--green' %>
      </li>
      <li class="service-categories-top-level-usps__item">
        <%= link_to 'How', '/services/what-we-do/how', class: 'service-categories-top-level-usps__link service-categories-top-level-usps__link--clinical-grey' %>
      </li>
      <li class="service-categories-top-level-usps__item">
        <%= link_to 'Why', '/services/what-we-do/why', class: 'service-categories-top-level-usps__link service-categories-top-level-usps__link--brown-light' %>
      </li>
      <li class="service-categories-top-level-usps__item">
        <%= link_to 'Results', '/services/what-we-do/benefits', class: 'service-categories-top-level-usps__link service-categories-top-level-usps__link--orange' %>
      </li>
    </ul>

    <% if facade.parent_category? && (facade.category.present? && facade.category.show_children?) %>
      <% cache ['service-categories-navigation', facade.parent_category.children.displayed] do %>
        <ul class="service-categories-navigation-categories">
          <% facade.parent_category.children.displayed.each do |child| %>
            <li class="service-categories-navigation-categories__item">
              <%= link_to child.title,
                          service_category_path(child),
                          class: "service-categories-navigation-categories__link  service-categories-navigation-categories__link--#{child.colour}" %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>

    <div class="service-categories-navigation-services">
      <%= render 'services/shared/navigation', services: facade.services.reorder(position: :desc), current_service: (defined?(current_service) ? current_service : nil) if (facade.services? &&  facade.category.blank?) || (facade.category.present? && facade.category.slug == 'how') %>
    </div>

    <!--
      <% if facade.offerings? && !defined?(current_service) %>
        <ul class="service-categories-navigation-tools">
          <%= render_cached_partial(
                partial: 'offerings/offering',
                collection: facade.offerings,
                as: :offering,
                locals: {
                  parent_class: 'service-categories-navigation-tools'
                }
              ) %>
        </ul>
      <% end %>
    -->
  </div>
</div>
