<%= content_for :javascript do %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= javascript_include_tag 'vendor/jquery.viewport' %>
  <script>
    // http://craftedpixelz.co.uk/blog/conditional-js-with-modernizr-mq/
    if (Modernizr.mq('only screen and (min-width: 1200px)')) {
      var $bodyPartNavigation, $stickyBodyPartNavigation;

      function setStickyNavigation() {
        if($('.hero-navigation:in-viewport').length === 1 && $stickyBodyPartNavigation !== undefined) {
          $stickyBodyPartNavigation.hide();
        } else if($stickyBodyPartNavigation !== undefined) {
          $stickyBodyPartNavigation.show();
        }
      }

      function buildStickyNavigation() {
        var visibleLis = $('.body-part-section-navigation-links').html();
        var contactMethods = $('.page-contact-method-links').html();
        $('.sticky-hero-navigation-links').html(visibleLis);
        $('.sticky-page-contact-methods').html(contactMethods);
        setStickyNavigation();
      }

      $(window).load(function() {
        $bodyPartNavigation = $('.hero-navigation');
        $stickyBodyPartNavigation = $('.sticky-hero-navigation');
        buildStickyNavigation();
      });

      $(window).scroll(function() {
        setStickyNavigation();
      });
    }

    // Adapted from http://stackoverflow.com/questions/7717527/jquery-smooth-scrolling-when-clicking-an-anchor-link
    var $root, offsetTop = 0;

    function smoothScroll(elem) {
      $root.animate({
        scrollTop: $(elem).offset().top - offsetTop
      }, 500, function () {
        window.location.hash = elem;
      });
    }

    $(function() {
      if (Modernizr.mq('only screen and (min-width: 1200px)')) {
        offsetTop = 50;
      }

      $root = $('html, body');

      var windowAnchor = window.location.hash;
      if(windowAnchor !== undefined && $(windowAnchor).length === 1) {
        smoothScroll(windowAnchor);
      }
    });

    $(document).on('click', 'a[href^="#"]', function() {
      var elem = $.attr(this, 'href');
      smoothScroll(elem);
      return false;
    });

    $(document).ready(function() {
      $(".guides").slick({
        slidesToShow: 2,
        slidesToScroll: 1,
        autoplay: false,
        arrows: true,
        prevArrow: '.slick-guides.slick-prev',
        nextArrow: '.slick-guides.slick-next',
      });
    });
  </script>

<% end %>

<div class="sticky-hero-navigation">
  <div class="sticky-hero-navigation-content">
    <span class="sticky-body-part-name">
      <%= I18n.t('wellbeing_zone.general_wellbeings.show.title') %>
    </span>

    <ul class="sticky-hero-navigation-links">
    </ul>

    <ul class="sticky-page-contact-methods">
    </ul>
  </div>
</div>

<div class="hero-section body-part-background">
  <div class="hero-section-header">
    <h1 class="hero-section-title">
      <%= I18n.t('wellbeing_zone.general_wellbeings.show.title') %>
    </h1>
  </div>

  <div class="hero-section-primary-content">
    <div class="hero-navigation-wrap">
      <div class="hero-navigation">
        <ul class="hero-navigation-links">
          <li class="hero-navigation-top-level">
            <%= link_to I18n.t('wellbeing_zone.general_wellbeings.show.title'),
              wellbeing_zone_general_wellbeing_path,
              class: 'current-body-part' %>

            <ul class="hero-navigation-links-dropdown">
              <% @general_wellbeing_facade.body_parts.each do |body_part| %>
                <%= content_tag :li, (link_to body_part.name, wellbeing_zone_body_part_path(body_part), class: 'body-part-link', title: body_part.name) %>
              <% end %>
            </ul>
          </li>
        </ul>

        <ul class="body-part-section-navigation-links">
          <%= content_tag :li, (link_to 'Guides', '#guides') if @general_wellbeing_facade.guides.any? %>
          <%= content_tag :li, (link_to "Clinical Team", '#team-members') if @general_wellbeing_facade.team_members.any? %>
          <%= content_tag :li, (link_to "Case Studies", '#case-studies') if @general_wellbeing_facade.case_studies.any? %>
          <%= content_tag :li, (link_to "Testimonials", '#testimonials') if @general_wellbeing_facade.testimonials.any? %>
          <%= content_tag :li, (link_to "FAQs", '#faqs') if @general_wellbeing_facade.faqs.any? %>
        </ul>
      </div>
    </div>

    <div class="body-part-summary-wrap">
      <div class="body-part-summary">
        <%= raw @general_wellbeing_facade.content %>
      </div>
    </div>

    <div class="page-contact-methods-wrap">
      <div class="page-contact-methods">
        <h4>
          Talk to our clinical team
        </h4>

        <ul class="page-contact-method-links">
          <%= render 'shared/contact_method_items' %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="content wellbeing section">
  <% if @general_wellbeing_facade.guides.any? %>
    <section class="box-wrap" id="guides">
      <div class="guides-container">

        <div class="slick-controls">
          <%= button_tag(type: 'button', class: "slick-guides slick-prev") do %>
            <
          <% end %>
          <%= button_tag(type: 'button', class: "slick-guides slick-next") do %>
            >
          <% end %>
        </div>

        <h2 class="content-box-title guides-container-title">Guides</h2>

        <div class="guides wellbeing">
          <%= render partial: 'guides/guide',
            collection: @general_wellbeing_facade.guides, as: :guide %>
        </div>
      </div>
    </section>
  <% end %>

  <%= render(
    "wellbeing_zone/shared/team_member_section.html.erb",
    team_members: @general_wellbeing_facade.team_members
  ) %>

  <section class="flexbox-wrap">
    <% if @general_wellbeing_facade.people_helped_section %>
      <%= render(
        partial: "people_helped_sections/people_helped_section",
        object: @general_wellbeing_facade.people_helped_section
      ) %>
    <% end %>

    <% if @general_wellbeing_facade.video %>
      <div class="video-section">
        <%= render(
          partial: "videos/video",
          object: @general_wellbeing_facade.video
        ) %>
      </div>
    <% end %>
  </section>

  <section class="flexbox-wrap">
    <%= render(
      "wellbeing_zone/shared/articles_section",
      articles: @general_wellbeing_facade.articles
    ) %>

    <% if global_site_settings['Twitter'].present? %>
      <div class="twitter-container brown-background">
        <%= link_to "https://twitter.com/#{global_site_settings['Twitter'].tr('@', '')}", title: 'Twitter', class: 'twitter-link' do %>
          <%= image_tag "icons/twitter-brown.png", class: 'twitter-icon' %>
        <% end %>

        <% tweets = twitter_timeline(global_site_settings['Twitter'].tr('@', ''), 3) %>
        <% tweets.each do |tweet| %>
          <div class="tweet">
            <p class="tweet-text">
              <%= raw tweet_text(tweet.text) %>
            </p>
          </div>
          <% end %>

        <div class="twitter-follow-button">
          <a href="https://twitter.com/<%= twitter_name %>" class="twitter-follow-button" data-show-count="false">Follow @<%= twitter_name %></a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </div>
    <% end %>
  </section>

  <section class="flexbox-wrap case-studies-and-testimonials">
    <%= render(
      "wellbeing_zone/shared/case_studies_section",
      case_studies: @general_wellbeing_facade.case_studies
    ) %>

    <%= render(
      "wellbeing_zone/shared/testimonials_section",
      testimonials: @general_wellbeing_facade.testimonials
    ) %>
  </section>

  <% if @general_wellbeing_facade.faqs.any? %>
    <section class="box-wrap">
      <%= render(
        "wellbeing_zone/shared/faqs_section",
        faqs: @general_wellbeing_facade.faqs
      ) %>
    </section>
  <% end %>
</div>
