<div class="hero-section">
  <div class="hero-section-header">
    <h1 class="hero-section-title">
      General Well-Being
    </h1>
  </div>
</div>

<div class="wellbeing content section">
  <%= render(
    "wellbeing_zone/shared/team_member_section.html.erb",
    team_members: @general_wellbeing_facade.team_members
  ) %>

  <section class="flexbox-wrap">
    <% if @general_wellbeing_facade.people_helped_section %>
      <%= render(
        partial: "people_helped_sections/people_helped_section",
        object: @general_wellbeing_facade.people_helped_section
      ) %>
    <% end %>

    <% if @general_wellbeing_facade.video %>
      <div class="video-section">
        <%= render(
          partial: "videos/video",
          object: @general_wellbeing_facade.video
        ) %>
      </div>
    <% end %>
  </section>

  <section class="flexbox-wrap">
    <%= render(
      "wellbeing_zone/shared/articles_section",
      articles: @general_wellbeing_facade.articles
    ) %>

    <% if global_site_settings['Twitter'].present? %>
      <div class="twitter-container brown-background">
        <%= link_to "https://twitter.com/#{global_site_settings['Twitter'].tr('@', '')}", title: 'Twitter', class: 'twitter-link' do %>
          <%= image_tag "icons/twitter-brown.png", class: 'twitter-icon' %>
        <% end %>

        <% tweets = twitter_timeline(global_site_settings['Twitter'].tr('@', ''), 3) %>
        <% tweets.each do |tweet| %>
          <div class="tweet">
            <p class="tweet-text">
              <%= raw tweet_text(tweet.text) %>
            </p>
          </div>
          <% end %>

        <div class="twitter-follow-button">
          <a href="https://twitter.com/<%= twitter_name %>" class="twitter-follow-button" data-show-count="false">Follow @<%= twitter_name %></a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </div>
    <% end %>
  </section>

  <section class="flexbox-wrap case-studies-and-testimonials">
    <%= render(
      "wellbeing_zone/shared/case_studies_section",
      case_studies: @general_wellbeing_facade.case_studies
    ) %>

    <%= render(
      "wellbeing_zone/shared/testimonials_section",
      testimonials: @general_wellbeing_facade.testimonials
    ) %>
  </section>

  <% if @general_wellbeing_facade.faqs.any? %>
    <section class="box-wrap">
      <%= render(
        "wellbeing_zone/shared/faqs_section",
        faqs: @general_wellbeing_facade.faqs
      ) %>
    </section>
  <% end %>
</div>
