<div class="hero-section">
  <h1 class="hero-section-title">
    Health and Well-Being Zone
  </h1>

  <% # TODO Link this %>
  <%= link_to 'General Well-Being', '#', class: 'hero-section-button' %>

  <div class="wellbeing content">
    <% if @wellbeing_facade.body_parts.any? %>
      <section class="flexbox-wrap">
        <div class="body-parts-container">
          <div class="body-parts">
            <%= render(
              partial: "body_parts/body_part",
              collection: @wellbeing_facade.body_parts,
              as: :body_part
            ) %>
          </div>
        </div>
      </section>
    <% end %>
  </div>
</div>

<div class="wellbeing content section">


  <% if @wellbeing_facade.team_members.any? %>
    <%= render(
      partial: "wellbeing_zone/shared/team_member_section.html.erb",
      locals: {
        team_members: @wellbeing_facade.team_members
      }
    ) %>
  <% end %>

  <section class="flexbox-wrap">

    <% if @wellbeing_facade.people_helped_section %>
      <%= render(
        partial: "people_helped_sections/people_helped_section",
        object: @wellbeing_facade.people_helped_section
      ) %>
    <% end %>

    <% if @wellbeing_facade.video %>
      <div class="video-section">
        <%= render(
          partial: "videos/video",
          object: @wellbeing_facade.video
        ) %>
      </div>
    <% end %>
  </section>

  <section class="flexbox-wrap">
    <% if @wellbeing_facade.articles.any? %>
      <%= render(
        partial: "wellbeing_zone/shared/articles_section",
        locals: {
          articles: @wellbeing_facade.articles
        }
      ) %>
    <% end %>
    <div class="twitter-container brown-background">
      <%= image_tag "twitter-brown" %>
      TWITTER GOES HERE
    </div>
  </section>

  <section class="flexbox-wrap">
    <% if @wellbeing_facade.case_studies.any? %>
      <%= render(
        partial: "wellbeing_zone/shared/case_studies_section",
        locals: {
          case_studies: @wellbeing_facade.case_studies
        }
      ) %>
    <% end %>

    <% if @wellbeing_facade.testimonials.any? %>
      <%= render(
        partial: "wellbeing_zone/shared/testimonials_section",
        locals: {
          testimonials: @wellbeing_facade.testimonials
        }
      ) %>
    <% end %>
  </section>

  <% if @wellbeing_facade.faqs.any? %>
    <section class="box-wrap">
      <%= render(
        partial: "wellbeing_zone/shared/faqs_section",
        locals: {
          faqs: @wellbeing_facade.faqs
        }
      ) %>
    </section>
  <% end %>
</div>
