<div class="hero-section">
  <div class="hero-section-header">
    <h1 class="hero-section-title">
      Health and Well-Being Zone
    </h1>

    <% # TODO Link this %>
    <%= link_to 'General Well-Being', '#', class: 'hero-section-button' %>
  </div>

  <div class="wellbeing content">
    <% if @wellbeing_facade.body_parts.any? %>
      <section class="flexbox-wrap">
        <div class="body-parts-container">
          <div class="body-parts">
            <%= render(
              partial: "wellbeing_zone/body_parts/body_part",
              collection: @wellbeing_facade.body_parts,
              as: :body_part
            ) %>
          </div>
        </div>
      </section>
    <% end %>
  </div>
</div>

<div class="wellbeing content section">
  <%= render(
    "wellbeing_zone/shared/team_member_section.html.erb",
    team_members: @wellbeing_facade.team_members
  ) %>

  <section class="flexbox-wrap">
    <% if @wellbeing_facade.people_helped_section %>
      <%= render(
        partial: "people_helped_sections/people_helped_section",
        object: @wellbeing_facade.people_helped_section
      ) %>
    <% end %>

    <% if @wellbeing_facade.video %>
      <div class="video-section">
        <%= render(
          partial: "videos/video",
          object: @wellbeing_facade.video
        ) %>
      </div>
    <% end %>
  </section>

  <section class="flexbox-wrap">
    <%= render(
      "wellbeing_zone/shared/articles_section",
      articles: @wellbeing_facade.articles
    ) %>
    <div class="twitter-container brown-background">
      <%= link_to "https://twitter.com/#{global_site_settings['Twitter'].tr('@', '')}", title: 'Twitter', class: 'twitter-link' do %>
        <%= image_tag "icons/twitter-brown.png", class: 'twitter-icon' %>
      <% end %>

      <% tweets = twitter_timeline(global_site_settings['Twitter'].tr('@', ''), 3) %>
      <% tweets.each do |tweet| %>
        <div class="tweet">
          <p class="tweet-text">
            <%= raw tweet_text(tweet.text) %>
          </p>

          <!--
            <p class="tweet-time">
              <%= tweet_time(tweet.created_at) %>
            </p>
          -->
        </div>
      <% end %>

      <div class="twitter-follow-button">
        <a href="https://twitter.com/<%= twitter %>" class="twitter-follow-button" data-show-count="false">Follow @<%= twitter %></a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
    </div>
  </section>

  <section class="flexbox-wrap case-studies-and-testimonials">
    <%= render(
      "wellbeing_zone/shared/case_studies_section",
      case_studies: @wellbeing_facade.case_studies
    ) %>

    <%= render(
      "wellbeing_zone/shared/testimonials_section",
      testimonials: @wellbeing_facade.testimonials
    ) %>
  </section>

  <% if @wellbeing_facade.faqs.any? %>
    <section class="box-wrap">
      <%= render(
        "wellbeing_zone/shared/faqs_section",
        faqs: @wellbeing_facade.faqs
      ) %>
    </section>
  <% end %>
</div>
