<div class="hero-section">
  <div class="hero-section-header">
    <h1 class="hero-section-title">
      Health and Well-Being Zone
    </h1>

    <%#= link_to 'General Well-Being', wellbeing_zone_general_wellbeing_path, class: 'hero-section-button' %>
  </div>

  <div class="wellbeing content">
    <% if @wellbeing_facade.body_parts.any? %>
      <section class="flexbox-wrap">
        <div class="body-parts-container">
          <div class="body-parts">

            <div class="body-part">
              <%= link_to wellbeing_zone_general_wellbeing_path do %>
                <div class="name text-center wellbeing-full-section-button green-background">
                  <%= @general_wellbeing_category.name %>
                </div>
                <%= image_tag @general_wellbeing_category.image.show, alt: @general_wellbeing_category.name %>
                <% if @general_wellbeing_category.tagline.present? %>
                  <div class="tagline text-center">
                    <%= @general_wellbeing_category.tagline %>
                  </div>
                <% end %>
              <% end %>
            </div>

            <%= render(
              partial: "wellbeing_zone/body_parts/body_part",
              collection: @wellbeing_facade.body_parts,
              as: :body_part
            ) %>
          </div>
        </div>
      </section>
    <% end %>
  </div>
</div>

<div class="wellbeing content section">
  <%= render(
    "wellbeing_zone/shared/team_member_section.html.erb",
    team_members: @wellbeing_facade.team_members
  ) %>

  <section class="flexbox-wrap">
    <% if @wellbeing_facade.people_helped_section %>
      <%= render(
        partial: "people_helped_sections/people_helped_section",
        object: @wellbeing_facade.people_helped_section
      ) %>
    <% end %>

    <% if @wellbeing_facade.video %>
      <div class="video-section">
        <%= render(
          partial: "videos/video",
          object: @wellbeing_facade.video
        ) %>
      </div>
    <% end %>
  </section>

  <section class="flexbox-wrap">
    <%= render(
      "wellbeing_zone/shared/articles_section",
      articles: @wellbeing_facade.articles
    ) %>

    <% if global_site_settings['Twitter'].present? %>
      <div class="twitter-container brown-background">
        <%= link_to "https://twitter.com/#{global_site_settings['Twitter'].tr('@', '')}", title: 'Twitter', class: 'twitter-link' do %>
          <%= image_tag "icons/twitter-brown.png", class: 'twitter-icon' %>
        <% end %>

        <% tweets = twitter_timeline(global_site_settings['Twitter'].tr('@', ''), 1) %>
        <% tweets.each do |tweet| %>
          <div class="tweet">
            <p class="tweet-text">
              <%= raw tweet_text(tweet.text) %>
            </p>
          </div>
          <% end %>

        <div class="twitter-follow-button">
          <a href="https://twitter.com/<%= twitter_name %>" class="twitter-follow-button" data-show-count="false">Follow @<%= twitter_name %></a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </div>
    <% end %>

    <%= content_tag :div, (render(
      partial: "videos/video",
      object: @wellbeing_facade.what_we_do_video
    )), class: 'video-section' if @wellbeing_facade.what_we_do_video.present? %>
  </section>

  <section class="flexbox-wrap case-studies-and-testimonials">
    <%= render(
      "wellbeing_zone/shared/case_studies_section",
      case_studies: @wellbeing_facade.case_studies
    ) %>

    <%= render(
      "wellbeing_zone/shared/testimonials_section",
      testimonials: @wellbeing_facade.testimonials
    ) %>
  </section>

  <% if @wellbeing_facade.faqs.any? %>
    <section class="box-wrap">
      <%= render(
        "wellbeing_zone/shared/faqs_section",
        faqs: @wellbeing_facade.faqs
      ) %>
    </section>
  <% end %>
</div>
