<div class="wellbeing content">
  <% if @wellbeing_facade.body_parts.any? %>
    <section class="flexbox-wrap">
      <div class="body-parts-container">
        <div class="body-parts">
          <%= render(
            partial: "body_parts/body_part",
            collection: @wellbeing_facade.body_parts,
            as: :body_part
          ) %>
        </div>
      </div>
    </section>
  <% end %>

  <% if @wellbeing_facade.team_members.any? %>
    <%= content_for :javascript do %>
      <%= javascript_include_tag "components/team_members/wellbeing_zone.js" %>
    <% end %>
    <section class="box-wrap">
      <div class="team-members-container">
        <h2 class="text-center">
          Meet your specialists: <span class="green">clinical team</span>
        </h2>
        <%= button_tag(type: 'button', class: "slick-team-members slick-prev") do %>
          <
        <% end %>
        <div class="team-members">
          <%= render(
            partial: "team_members/wellbeing_team_member",
            collection: @wellbeing_facade.team_members,
            as: :team_member
          ) %>
        </div>
        <%= button_tag(type: 'button', class: "slick-team-members slick-next") do %>
          >
        <% end %>
      </div>
    </section>
  <% end %>

  <section class="flexbox-wrap">
    <% if @wellbeing_facade.articles.any? %>
      <div class="articles-container">
        <%= link_to "See more", articles_path, class: "button brown-background" %>
        <h2 class="green-border-bottom">
          Latest News
        </h2>
        <% @wellbeing_facade.articles.each_with_index do |article, i| %>
          <%= wellbeing_article_partial(article, i) %>
        <% end %>
      </div>
    <% end %>
    <div class="twitter-container brown-background">
      <%= image_tag "twitter-brown" %>
      TWITTER GOES HERE
    </div>
  </section>

  <% if @wellbeing_facade.faqs.any? %>
    <section class="box-wrap">
      <div class="faqs-container">
        <%= link_to "See more", frequently_asked_questions_path, class: "button brown-background" %>
        <h2 class="green-border-bottom">
          Frequently Asked Questions
        </h2>
        <div class="faqs">
          <%= render(
            partial: "frequently_asked_questions/frequently_asked_question",
            collection: @wellbeing_facade.faqs
          ) %>
        </div>
      </div>
    </section>
  <% end %>
</div>
