<li class="what-we-do-item-list <%= 'top-level-parent' if menu_item.parent.present? && menu_item.children.present? %><%= ' selected-navigation' if menu_item_presenter.active? %>">
  <%= menu_item_presenter.link_to_webpage %>

  <% if sub_menu_items.present? %>
    <%= content_tag :ul, class: "dropdown depth-#{ depth }" do %>
      <%= page_sidebar_menu_items(menu_items: sub_menu_items, depth: depth + 1) %>
    <% end %>
  <% end %>
</li>
