<% present job_listing do |job_listing_presenter| %>
  <div class="row collapse module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list" id="item_<%= job_listing_presenter.id %>">
    <div class="small-6 columns" data-equalizer-watch="module-list">
      <%= job_listing_presenter.toggle_title %>
    </div>

    <div class="small-2 columns" data-equalizer-watch="module-list">
      <%= link_to pluralize(job_listing.job_applications_count, 'Job application'),
        job_listing_job_applications_path(job_listing) %>
    </div>

    <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
      <%= job_listing_presenter.toggle_link %>
    </div>

    <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
      <%= job_listing_presenter.view_link %>
    </div>

    <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
      <%= job_listing_presenter.edit_link %>
    </div>

    <div class="large-1 hide-for-medium-down columns last" data-equalizer-watch="module-list">
      <%= job_listing_presenter.delete_link %>
    </div>

    <div class="row module-list-detail hide" id="index-list-<%= job_listing_presenter.id %>">
      <div class="small-12 columns module-list-summary last">
        <%= job_listing_presenter.optimadmin_summary %>
      </div>
    </div>
  </div>
<% end %>
