<%= render 'optimadmin/shared/header/main_title', title: 'Manage Job Listings' %>

<div class="main-content">
  <div class="row module-header collapse">
    <%= render 'optimadmin/shared/module/index/new_item', title: 'Job Listing', object: JobListing, path: new_job_listing_path %>
    <%#= render 'optimadmin/shared/search_form' %>
    <%= render 'optimadmin/shared/module/index/pagination' %>
    <%= render 'optimadmin/shared/module/index/recycle_bin', items: @job_listings.size, path: root_url %>
  </div>

  <div class="row collapse module-list-index header">
    <%= list_item 'small-6' do %>
      <%= link_to octicon('chevron-down'), '#', class: 'helper-link index-list-expand-all', data: { this_class: 'octicon-chevron-up octicon-chevron-down' } %>
      Title
    <% end %>
    <%= list_item 'small-2' do %>
      Job Applications
    <% end %>
    <%= list_item { 'Display' } %>
    <%= list_item { 'View' } %>
    <%= list_item { 'Edit' } %>
    <%= list_item('large-1 hide-for-medium-down text-center last') { 'Delete' } %>
  </div>

  <%= render @job_listings %>
  
  <%= paginate @job_listings %>
</div>
