<div class="hero-section standard-page-background">
  <div class="hero-section-header">
    <h1 class="hero-section-title page full-width">
      Meet the Team
    </h1>
  </div>

  <div class="hero-section-primary-content">
    <div class="page-content-wrap full-width">
      <div class="page-content">
        <% if @team_members.present? %>
          <%= content_for :head do %>
            <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css' %>
            <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css' %>
          <% end %>

          <%= content_for :javascript do %>
            <%= javascript_include_tag "components/team_members/wellbeing_zone.js" %>
          <% end %>

          <div class="team-members-container">
            <h2 class="text-center">
              The Team
            </h2>
            <%= button_tag(type: 'button', class: "slick-team-members slick-prev") do %>
              <
            <% end %>
            <div class="team-members">
              <%= render(
                partial: "team_members/wellbeing_team_member",
                collection: @team_members,
                as: :team_member
              ) %>
          </div>
          <%= button_tag(type: 'button', class: "slick-team-members slick-next") do %>
            >
          <% end %>
          </div>
        <% end %>

      </div>
    </div>

    <div class="page-contact-methods-wrap">
      <%= render partial: 'shared/sidebar', locals: {
        hide_health_and_wellbeing_zone: true,
        hide_case_studies: true,
        hide_articles: true,
      }
      %>
    </div>
  </div>
</div>
