<div class="modal-overview">
  <div class="modal-content">
    <%= content_tag :div, (image_tag @team_member.image.show, title: @team_member.name), class: 'image' if @team_member.image %>

    <div class="details">
      <h1 class="green-border-bottom">
        <%= @team_member.name %>
      </h1>

      <h3>
        <%= @team_member.role %>
      </h3>

      <%= mail_to @team_member.email %>

      <%= raw @team_member.bio %>
    </div>
  </div>
</div>
