<%= simple_form_for [job_listing, job_application] do |f| %>
  <%= f.input :name %>
  <%= f.input :telephone, as: :tel %>
  <%= f.input :email, as: :email %>
  <%= f.input :cv, as: :file, label: 'Upload your CV' %>

  <div class="actions">
    <%= f.button :submit, class: "submit-button" %>
  </div>
<% end %>
