
<% present additional_content do |additional_content_presenter| %>
  <div class="row collapse module-list-index <%= cycle('odd', 'even') %>" id="item_<%= additional_content_presenter.id %>">
    
    <div class="columns">
      <%= additional_content_presenter.toggle_title %>
    </div>

    
    <div class="large-1 small-4 text-center columns">
      <%= additional_content_presenter.toggle_link %>
    </div>

    <div class="large-1 small-4 text-center columns">
      <%= additional_content_presenter.view_link %>
    </div>

    <div class="large-1 small-4 text-center columns">
      <%= additional_content_presenter.edit_link %>
    </div>

    <div class="large-1 text-center columns last">
      <%= additional_content_presenter.delete_link %>
    </div>
  </div>

  <div class="row module-list-detail hide" id="index-list-<%= additional_content_presenter.id %>">
    <div class="small-12 columns module-list-summary last">
      <%= additional_content_presenter.optimadmin_summary %>
    </div>
  </div>
<% end %>

