<h2>Main Details</h2>

<table>
  <tr>
    <th align="left">Name</th>
    <td align="left"><%= @practice_application.name %></td>
  </tr>
  <tr>
    <th align="left">Address</th>
    <td align="left"><%= @practice_application.address %></td>
  </tr>
  <tr>
    <th align="left">County</th>
    <td align="left"><%= @practice_application.county %></td>
  </tr>
  <tr>
    <th align="left">Post Code</th>
    <td align="left"><%= @practice_application.postcode %></td>
  </tr>
  <tr>
    <th align="left">Phone</th>
    <td align="left"><%= @practice_application.telephone %></td>
  </tr>
  <tr>
    <th align="left">Fax</th>
    <td align="left"><%= @practice_application.fax %></td>
  </tr>
  <tr>
    <th align="left">Email</th>
    <td align="left"><%= @practice_application.email %></td>
  </tr>
  <% @practice_application.contacts.each do |contact| %>
    <tr>
      <th align="left">Contact Name</th>
      <td align="left"><%= contact.name %></td>
    </tr>
    <tr>
      <th align="left">Contact Position</th>
      <td align="left"><%= contact.position %></td>
    </tr>
  <% end %>
  <tr>
    <th align="left">Established</th>
    <td align="left"><%= @practice_application.established %></td>
  </tr>
</table>

<h2>Practice Details</h2>

<h3>What are your opening hours?</h3>

<table>
  <tr>
    <th align="left">Monday</th>
    <td align="left"><%= @practice_application.monday %></td>
  </tr>
  <tr>
    <th align="left">Tuesday</th>
    <td align="left"><%= @practice_application.tuesday %></td>
  </tr>
  <tr>
    <th align="left">Wednesday</th>
    <td align="left"><%= @practice_application.wednesday %></td>
  </tr>
  <tr>
    <th align="left">Thursday</th>
    <td align="left"><%= @practice_application.thursday %></td>
  </tr>
  <tr>
    <th align="left">Friday</th>
    <td align="left"><%= @practice_application.friday %></td>
  </tr>
  <tr>
    <th align="left">Saturday</th>
    <td align="left"><%= @practice_application.saturday %></td>
  </tr>
  <tr>
    <th align="left">Sunday</th>
    <td align="left"><%= @practice_application.sunday %></td>
  </tr>
</table>

<h3>Treatment Charges</h3>

<table>
  <tr>
    <th align="left">Initial Cost</th>
    <td align="left"><%= @practice_application.initial_assessment_cost %></td>
  </tr>
  <tr>
    <th align="left">Initial duration</th>
    <td align="left"><%= @practice_application.initial_assessment_duration %></td>
  </tr>
  <tr>
    <th align="left">Subsequent Cost</th>
    <td align="left"><%= @practice_application.subsequent_treatment_cost %></td>
  </tr>
  <tr>
    <th align="left">Subsequent Duration</th>
    <td align="left"><%= @practice_application.subsequent_treatment_duration %></td>
  </tr>
</table>

<% unless @practice_application.practitioners.blank? %>
  <h2>Practitioners</h2>
  <% @practice_application.practitioners.each do |practitioner| %>
    <div class="practitioner">
      <table>
        <tr>
          <th align="left">Name</th>
          <td align="left"><%= practitioner.name %></td>
        </tr>
        <tr>
          <th align="left">Qualification Date</th>
          <td align="left"><%= practitioner.qualification_date %></td>
        </tr>
        <tr>
          <th align="left">Years Practicing</th>
          <td align="left"><%= practitioner.years_practicing %></td>
        </tr>
      </table>
    </div>
  <% end %>
<% end %>

<h3>Additional required information</h3>

<table>
  <tr>
    <th align="left">What % of treatments are manual therapy?</th>
    <td align="left"><%= @practice_application.manual_therapy %></td>
  </tr>
  <tr>
    <th align="left">What % of capacity are you running at?</th>
    <td align="left"><%= @practice_application.capacity %></td>
  </tr>
  <tr>
    <th align="left">Treatment Rooms</th>
    <td align="left"><%= @practice_application.treatment_rooms %></td>
  </tr>
  <tr>
    <th align="left">Parking</th>
    <td align="left"><%= @practice_application.parking_facilities? ? "Yes" : "No" %></td>
  </tr>
  <tr>
    <th align="left">Do you have TM2 or PPS?</th>
    <td align="left"><%= @practice_application.tm2_or_pps %></td>
  </tr>
  <tr>
    <th align="left">Online booking?</th>
    <td align="left"><%= @practice_application.online_booking? ? "Yes" : "No" %></td>
  </tr>
  <tr>
    <th align="left">Cancellation Policy</th>
    <td align="left"><%= @practice_application.cancellation_policy %></td>
  </tr>
  <tr>
    <th align="left">Public Liability Insurance</th>
    <td align="left"><%= @practice_application.public_liability_insurance? ? "Yes" : "No" %></td>
  </tr>
  <tr>
    <th align="left">Employee Liability Insurance</th>
    <td align="left"><%= @practice_application.employee_liability_insurance? ? "Yes" : "No" %></td>
  </tr>
  <tr>
    <th align="left">Description</th>
    <td align="left"><%= @practice_application.description %></td>
  </tr>
</table>
