<div class="video-with-guide">
  <div class="video-iframe">
    <%= raw iframe_for(video, width: 345, height: 248) %>
  </div>

  <div class="basic-details">
    <h2 class="green-border-bottom">
      <%= video.title %>
    </h2>

    <div class="video-subtitle">
      <%= video.subtitle %>
    </div>

    <%= simple_format video.content %>
  </div>
  <div class="guide">
    <%= content_tag :div, 
      image_tag(guide.image_url(:index), alt: guide.title, title: guide.title),
      class: 'guide-image' if guide.image? %>
    <%= link_to "Download", guide.file.url,
      class: 'guide-download-button button brown-background' %>
  </div>
</div>
