<div class="client-area-tab">
  <%= image_tag 'icons/login-icon.gif', alt: 'Login', style: 'height:16px' %>

  <strong class="client-area-tab__title">
    Login:
  </strong>

  <%= link_to 'Client', 'https://portal.physiomed.co.uk/login', class: 'client-area-tab__link' %>
  <%= link_to "Patient", 'https://www.physiomed.co.uk/patient-login', class: 'client-area-tab__link' %>
  <%= link_to "Physio", 'https://physiotherapists.physiomed.co.uk/sessions/new', class: 'client-area-tab__link' %>
</div>

<%= link_to 'http://www.physiotherapyinleeds.co.uk/', class: 'clinic-button ga-vent',
            data: { event_category: 'Header', event_label: 'Local to leeds', event_action: 'Click' } do  %>
  <strong>Local to Leeds?</strong>
  Book an appointment at our Head Office clinic
<% end %>
