<%= render 'shared/sidebar_cta' if call_to_action %>

<%= render(
  partial: 'shared/sidebar_testimonials',
  locals: {
    testimonials: testimonials
  }
) if testimonials.present? %>

<% if team_members.present? %>
  <div class="page-author-information" data-role="sidebar-team-members">
    <%= render(
      partial: "team_members/author",
      collection: team_members,
      as: :team_member
    ) %>
  </div>
<% end %>

<% if health_zone.present? %>
  <%= content_for :javascript do %>
    <%= javascript_include_tag "components/health_zones.js" %>
  <% end %>

  <div class="page-sidebar-information" data-role="sidebar-health-zone">
    <%= render(
      partial: "health_zones/sidebar_health_zone",
      locals: { health_zone: health_zone }
    ) %>
  </div>
<% end %>

<% if case_studies.present? %>
  <div class="page-sidebar-information" data-role="sidebar-case-studies">
    <h6><%= link_to "Case Studies", case_studies_path %></h6>
    <%= render(
      partial: "case_studies/sidebar_case_study",
      collection: case_studies,
      as: :case_study
    ) %>
  </div>
<% end %>

<% if articles.present? %>
  <div class="page-sidebar-information" data-role="sidebar-articles">
    <h6><%= link_to "Latest News", articles_path %></h6>
    <%= render(
      partial: "articles/sidebar_article",
      collection: articles,
      as: :article
    ) %>
  </div>
<% end %>
