<div class="contact-details">
  <%= f.input :name %>
  <%= f.input :telephone, as: :tel %>
  <%= f.input :email, as: :email %>
  <%= f.input :message, as: :text %>
  <div class="actions">
    <%= f.button :submit, 'Send', class: 'submit-button' %>
  </div>
</div>
