<% present body_part do |body_part_presenter| %>
  <div class="row collapse module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list" id="item_<%= body_part_presenter.id %>">
    <div class="large-7 small-7 columns" data-equalizer-watch="module-list">
      <%= body_part_presenter.toggle_title %>
    </div>

    <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
      <%= link_to optimadmin.body_part_body_part_sections_path(body_part) do %>
        <%= pluralize body_part.body_part_sections_count, 'Section' %>
      <% end %>
    </div>
  
    <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
      <%= body_part_presenter.toggle_link %>
    </div>

    <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
      <%= body_part_presenter.view_link %>
    </div>

    <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
      <%= body_part_presenter.edit_link %>
    </div>

    <div class="large-1 hide-for-medium-down columns last" data-equalizer-watch="module-list">
      <%= body_part_presenter.delete_link %>
    </div>

    <div class="row module-list-detail hide" id="index-list-<%= body_part_presenter.id %>">
      <div class="small-12 columns module-list-summary last">
        <%= body_part_presenter.optimadmin_summary %>
      </div>
    </div>
  </div>
<% end %>
