<% if team_members.present? %>
  <%= content_for :javascript do %>
    <%= javascript_include_tag "components/team_members/wellbeing_zone.js" %>
  <% end %>

  <section class="box-wrap">
    <div class="team-members-container">
      <h2 class="text-center">
        Meet your specialists: <span class="green">clinical team</span>
      </h2>
      <%= button_tag(type: 'button', class: "slick-team-members slick-prev") do %>
        <
      <% end %>
      <div class="team-members">
        <%= render(
          partial: "team_members/wellbeing_team_member",
          collection: team_members,
          as: :team_member
        ) %>
    </div>
    <%= button_tag(type: 'button', class: "slick-team-members slick-next") do %>
      >
    <% end %>
    </div>
  </section>
<% end %>
