<% present landing_page_section do |landing_page_section_presenter| %>
  <div class="row collapse module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list" id="item_<%= landing_page_section_presenter.id %>">
    <div class="large-3 columns" data-equalizer-watch="module-list">
      <%= landing_page_section_presenter.style %>
    </div>

    <div class="large-4 small-8 columns" data-equalizer-watch="module-list">
      <%= landing_page_section_presenter.toggle_title %>
    </div>

    <div class="large-2 hide-for-medium-down columns" data-equalizer-watch="module-list">
      <% if landing_page_section.image? %>
        <%= link_to edit_images_landing_page_section_path(landing_page_section.landing_page, landing_page_section) do %>
          <%= image_tag landing_page_section.image.thumb.url %>
        <% end %>
      <% end %>
    </div>

    <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
      <%= landing_page_section_presenter.toggle_link %>
    </div>

    <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
      <%= landing_page_section_presenter.edit_link %>
    </div>

    <div class="large-1 hide-for-medium-down columns last" data-equalizer-watch="module-list">
      <%= landing_page_section_presenter.delete_link %>
    </div>

    <div class="row module-list-detail hide" id="index-list-<%= landing_page_section_presenter.id %>">
      <div class="small-12 columns module-list-summary last">
        <%= landing_page_section_presenter.optimadmin_summary %>
      </div>
    </div>
  </div>
<% end %>
