<%= render 'optimadmin/shared/header/main_title', title: "'#{ @landing_page.title }' Sections" %>

<div class="main-content">
  <div class="row module-header collapse">
    <%= render 'optimadmin/shared/module/index/new_item', title: ' Section', object: LandingPages::Section, path: new_landing_page_section_path(@landing_page) %>
    <%= render 'optimadmin/shared/module/index/recycle_bin', items: @landing_page_sections.size, path: root_url %>
  </div>

  <div class="row collapse module-list-index header">
    <%= list_item('large-3') { 'Style' } %>
    <%= list_item 'large-4 small-8' do %>
      <%= link_to octicon('chevron-down'), '#', class: 'helper-link index-list-expand-all', data: { this_class: 'octicon-chevron-up octicon-chevron-down' } %>
      Title
    <% end %>
    <%= list_item('large-2 hide-for-medium-down') { 'Image' } %>
    <%= list_item { 'Display' } %>
    <%= list_item { 'Edit' } %>
    <%= list_item('large-1 hide-for-medium-down text-center last') { 'Delete' } %>
  </div>

  <div class="module-sortable" data-module="LandingPages::Section">
    <%= render partial: 'landing_page_section', collection: @landing_page_sections, as: :landing_page_section %>
  </div>
</div>
