<div class="row collapse module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list" id="item_<%= user_presenter.id %>">
  <div class="large-9 small-8 columns" data-equalizer-watch="module-list">
    <%= user_presenter.username %>
  </div>
  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= user_presenter.toggle_link(:active) %>
  </div>
  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= user_presenter.edit_link %>
  </div>
  <div class="large-1 hide-for-medium-down columns last" data-equalizer-watch="module-list">
    <%= user_presenter.delete_link %>
  </div>
</div>
