<% present people_helped_section do |people_helped_section_presenter| %>
  <div class="row collapse module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list" id="item_<%= people_helped_section_presenter.id %>">
    <div class="large-6 small-6 columns" data-equalizer-watch="module-list">
      <%= people_helped_section_presenter.toggle_title %>
    </div>

    <div class="large-2 small-4 columns" data-equalizer-watch="module-list">
      <%= people_helped_section_presenter.section %>
    </div>

    <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
      <%= people_helped_section_presenter.toggle_link %>
    </div>

    <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
      <%= people_helped_section_presenter.view_link %>
    </div>

    <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
      <%= people_helped_section_presenter.edit_link %>
    </div>

    <div class="large-1 hide-for-medium-down columns last" data-equalizer-watch="module-list">
      <%= people_helped_section_presenter.delete_link %>
    </div>

    <div class="row module-list-detail hide" id="index-list-<%= people_helped_section_presenter.id %>">
      <div class="small-12 columns module-list-summary last">
        <%= people_helped_section_presenter.optimadmin_summary %>
      </div>
    </div>
  </div>
<% end %>
