<%= render 'optimadmin/shared/header/main_title', title: "Practice Application - #{ @practice_application.name }" %>

<div class="main-content">
  <h3>Main Details</h3>
  <div class="row">
    <div class="large-3 columns">
      <p>
        Address
      </p>
    </div>
    <div class="large-9 columns">
      <%= simple_format @practice_application.address %>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      County
    </div>
    <div class="large-9 columns">
      <%= @practice_application.county %>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      Post Code
    </div>
    <div class="large-9 columns">
      <%= @practice_application.postcode %>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      Telephone
    </div>
    <div class="large-9 columns">
      <%= @practice_application.telephone %>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      Fax
    </div>
    <div class="large-9 columns">
      <%= @practice_application.fax %>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      Email
    </div>
    <div class="large-9 columns">
      <%= @practice_application.email %>
    </div>
  </div>
  <%= render partial: 'optimadmin/practice_applications/contact', 
    collection: @practice_application.contacts, as: :contact %>
  <div class="row">
    <div class="large-3 columns">
      Established
    </div>
    <div class="large-9 columns">
      <%= @practice_application.established %>
    </div>
  </div>

  <h3>Opening Hours</h3>
  <% %w( monday tuesday wednesday thursday friday ).each do |day| %>
    <div class="row">
      <div class="large-3 columns">
        <%= day.titleize %>
      </div>
      <div class="large-9 columns">
        <%= @practice_application.public_send(day) %>
      </div>
    </div>
  <% end %>

  <h3>Treatment Charges</h3>
  <div class="row">
    <div class="large-3 columns">
      Initial cost
    </div>
    <div class="large-9 columns">
      <%= @practice_application.initial_assessment_cost %>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      Initial duration
    </div>
    <div class="large-9 columns">
      <%= @practice_application.initial_assessment_duration %>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      Subsequent treatment cost
    </div>
    <div class="large-9 columns">
      <%= @practice_application.subsequent_treatment_cost %>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      Subsequent treatment duration
    </div>
    <div class="large-9 columns">
      <%= @practice_application.subsequent_treatment_duration %>
    </div>
  </div>

  <h3>Practitioners</h3>
  <%= render partial: 'optimadmin/practice_applications/practitioner',
    collection: @practice_application.practitioners, as: :practitioner %>

  <h3>Additional required information</h3>
  <div class="row">
    <div class="large-3 columns">
      What % of treatments are manual therapy
    </div>
    <div class="large-9 columns">
      <%= @practice_application.manual_therapy %>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      What % of capacity are you running at
    </div>
    <div class="large-9 columns">
      <%= @practice_application.capacity %>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      Treatment rooms
    </div>
    <div class="large-9 columns">
      <%= @practice_application.treatment_rooms %>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      Parking
    </div>
    <div class="large-9 columns">
      <%= @practice_application.parking_facilities %>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      Receptionist
    </div>
    <div class="large-9 columns">
      <%= @practice_application.receptionist %>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      Do you have TM2 or PPS?
    </div>
    <div class="large-9 columns">
      <%= @practice_application.tm2_or_pps? ? "Yes" : "No" %>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      Online booking
    </div>
    <div class="large-9 columns">
      <%= @practice_application.online_booking? ? "Yes" : "No" %>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      Cancellation policy
    </div>
    <div class="large-9 columns">
      <%= @practice_application.cancellation_policy %>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      Public liability insurance
    </div>
    <div class="large-9 columns">
      <%= @practice_application.public_liability_insurance %>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      Employee liability insurance
    </div>
    <div class="large-9 columns">
      <%= @practice_application.employee_liability_insurance %>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      <p>
        Description
      </p>
    </div>
    <div class="large-9 columns">
      <%= simple_format @practice_application.description %>
    </div>
  </div>
</div>
