<%= form_for model, url: (model.new_record? ? section_items_path(@section, model) : section_item_path(@section, model)) do |f| %>
  <%= render 'optimadmin/shared/form_errors', model: model %>

  <%= render 'form_fields', f: f %>

  <div class="actions">
    <%= f.submit 'Save' %>
    <%= f.submit 'Save and continue editing' %>
  </div>
<% end %>
