<% present health_zone do |health_zone_presenter| %>
  <div class="row collapse module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list" id="item_<%= health_zone_presenter.id %>">
    <div class="large-4 small-8 columns" data-equalizer-watch="module-list">
      <%= health_zone_presenter.toggle_title %>
    </div>

    <div class="large-2 hide-for-medium-down columns" data-equalizer-watch="module-list">
      <%= health_zone_presenter.edit_image(:home_image) %>
    </div>

    <div class="large-2 hide-for-medium-down columns" data-equalizer-watch="module-list">
      <%= health_zone_presenter.edit_image(:image) %>
    </div>

    <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
      <%= health_zone_presenter.toggle_link %>
    </div>

    <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
      <%= health_zone_presenter.view_link %>
    </div>

    <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
      <%= health_zone_presenter.edit_link %>
    </div>

    <div class="large-1 hide-for-medium-down columns last" data-equalizer-watch="module-list">
      <%= health_zone_presenter.delete_link %>
    </div>

    <div class="row module-list-detail hide" id="index-list-<%= health_zone_presenter.id %>">
      <div class="small-12 columns module-list-summary last">
        <%= health_zone_presenter.optimadmin_summary %>
      </div>
    </div>
  </div>
<% end %>
