<div class="content">
  <h1><%= @body_part_facade.name %></h1>
  <h2>Health and Wellbeing Zone</h2>
  <div class="body-part-summary">
    <%= raw @body_part_facade.summary %>
  </div>

  <% if @body_part_facade.body_part_sections.any? %>
    <%= content_for :javascript do %>
      <%= javascript_include_tag "components/body_part_sections" %>
    <% end %>
    <section class="box-wrap">
      <div class="body-part-sections-container">
        <ul id="tabs">
          <% @body_part_facade.body_part_sections.each_with_index do |body_part_section, i| %>
            <%= content_tag :li, class: (i.zero? ? "current" : nil) do %>
              <%= link_to body_part_section.title, "#body-part-section-#{ body_part_section.id }" %>
            <% end %>
          <% end %>
        </ul>

        <div class="body-part-sections">
          <%= render(
            partial: "wellbeing_zone/body_part_sections/body_part_section",
            collection: @body_part_facade.body_part_sections,
            as: :body_part_section
          ) %>
        </div>
      </div>
    </section>
  <% end %>

  <% if @body_part_facade.people_helped_section %>
    <%= render(
      partial: "people_helped_sections/people_helped_section",
      object: @body_part_facade.people_helped_section
    ) %>
  <% end %>
  # VIDEO
  # TEAM
  <% if @body_part_facade.case_studies.any? %>
    <div class="case-studies-container">
      <%= link_to "See more", case_studies_path, class: "button brown-background" %>
      <h2 class="green-border-bottom">
        Case Studies
      </h2>
      <% @body_part_facade.case_studies.each_with_index do |case_study, i| %>
        <%= render(
          partial: wellbeing_case_study_partial_path(i),
          object: case_study,
          as: :case_study
        ) %>
    <% end %>
    </div>
  <% end %>

  <% if @body_part_facade.articles.any? %>
    <div class="articles-container">
      <%= link_to "See more", articles_path, class: "button brown-background" %>
      <h2 class="green-border-bottom">
        Latest News
      </h2>
      <% @body_part_facade.articles.each_with_index do |article, i| %>
        <%= render(
          partial: wellbeing_article_partial_path(i),
          object: article,
          as: :article
        ) %>
      <% end %>
    </div>
  <% end %>
  # FAQs
  # TESTIMONIALS
</div>
