<div class="content">
  <h1><%= @body_part_facade.name %></h1>
  <h2>Health and Wellbeing Zone</h2>
  <div class="body-part-summary">
    <%= raw @body_part_facade.summary %>
  </div>

  <% if @body_part_facade.body_part_sections.any? %>
    <%= content_for :javascript do %>
      <%= javascript_include_tag "components/body_part_sections" %>
    <% end %>
    <section class="box-wrap">
      <div class="body-part-sections-container">
        <ul id="tabs">
          <% @body_part_facade.body_part_sections.each_with_index do |body_part_section, i| %>
            <%= content_tag :li, class: (i.zero? ? "current" : nil) do %>
              <%= link_to body_part_section.title, "#body-part-section-#{ body_part_section.id }" %>
            <% end %>
          <% end %>
        </ul>

        <div class="body-part-sections">
          <%= render(
            partial: "wellbeing_zone/body_part_sections/body_part_section",
            collection: @body_part_facade.body_part_sections,
            as: :body_part_section
          ) %>
        </div>
      </div>
    </section>
  <% end %>

  <% if @body_part_facade.people_helped_section %>
    <%= render(
      partial: "people_helped_sections/people_helped_section",
      object: @body_part_facade.people_helped_section
    ) %>
  <% end %>

  <% if @body_part_facade.video %>
    <div class="video-section">
      <%= render(
        partial: "videos/video",
        object: @body_part_facade.video
      ) %>
    </div>
  <% end %>

  <% if @body_part_facade.team_members.any? %>
    <%= render(
      partial: "wellbeing_zone/shared/team_member_section.html.erb",
      locals: {
        team_members: @body_part_facade.team_members
      }
    ) %>
  <% end %>

  <% if @body_part_facade.case_studies.any? %>
    <%= render(
      partial: "wellbeing_zone/shared/case_studies_section",
      locals: {
        case_studies: @body_part_facade.case_studies
      }
    ) %>
  <% end %>

  <% if @body_part_facade.articles.any? %>
    <%= render(
      partial: "wellbeing_zone/shared/articles_section",
      locals: {
        articles: @body_part_facade.articles
      }
    ) %>
  <% end %>

  <% if @body_part_facade.faqs.any? %>
    <%= render(
      partial: "wellbeing_zone/shared/faqs_section",
      locals: {
        faqs: @body_part_facade.faqs
      }
    ) %>
  <% end %>

  <% if @body_part_facade.testimonials.any? %>
    <%= render(
      partial: "wellbeing_zone/shared/testimonials_section",
      locals: {
        testimonials: @body_part_facade.testimonials
      }
    ) %>
  <% end %>
</div>
