<div class="hero-section body-part-background">
  <div class="hero-section-header">
    <h1 class="hero-section-title page <%= 'full-width' if @side_menus.blank? %>">
      <% present @page do |page_presenter| %>
        <%= page_presenter.title %>
      <% end %>
    </h1>
  </div>

  <div class="hero-section-primary-content">
    <% if @side_menus.present? %>
      <div class="hero-navigation-wrap">
        <div class="hero-navigation">
          <%=
          render partial: "pages/shared/top_level_menu_item",
                 locals: { menu_item_presenter: MenuItemPresenter.new(object: @side_menus.last.related_menu_items(@page).first.first, view_template: self, descendants_hash: nil),
                           sub_menu_items: nil, depth: 0 } %>

          <ul class="page-aside-navigation-tree">
            <%= page_sidebar_menu_items(menu_items: @side_menus.last.root_menu_items(@page)) %>
          </ul>
        </div>

        <%= render(
          partial: 'shared/sidebar_testimonials',
          locals: {
            testimonials: @page.testimonials
          }
        ) if @page.testimonials.present? %>
      </div>
    <% end %>

    <div class="page-content-wrap <%= 'full-width' if @side_menus.blank? %>">
      <div class="page-content">
        <% present @page do |page_presenter| %>
          <%= page_presenter.show_image(alt: page_presenter.title, class: 'page-image') %>
          <%= page_presenter.content %>
        <% end %>
      </div>
    </div>

    <div class="page-contact-methods-wrap">
      <%= render partial: 'shared/sidebar', locals: {
        team_members: @page.team_members.displayed
      }
      %>
    </div>
  </div>
</div>
