<%= content_for :javascript do %>
  <%= javascript_include_tag 'components/google-map' %>
<% end %>

<div class="hero-section standard-page-background">
  <div class="hero-section-header">
    <h1 class="hero-section-title page full-width">
      Contact Us
    </h1>
  </div>

  <div class="hero-section-primary-content">
    <div class="page-content-wrap full-width">
      <div class="page-content">
        <p>
          If you want to find out how Physio Med can help your organisation or
          if you would like to arrange a site visit, please get in touch via
          the form below.
        </p>

        <%= render 'shared/flash_messages' %>

        <%= render 'form' %>


          <p>
            If you want to find out how Physio Med can help your organisation
            or if you would like to arrange a site visit, please get in touch
            via:
          </p>

        <div class="secondary-contact-methods">
          <div class="secondary-contact-method-details">

            <strong>Address</strong><br />

            <%= global_site_settings['Address'].gsub(', ', '<br />').html_safe if global_site_settings['Address'].present? %>

            <div>
              <%= link_to 'Get directions',
                        'https://www.google.co.uk/maps/place/Physio+Med/@53.777276,-1.584949,16z/data=!4m5!3m4!1s0x48795f1955555555:0x65b3ef1a2b6d13ed!8m2!3d53.7773495!4d-1.5848741?hl=en',
                        class: 'brown-background button get-directions',
                        target: '_blank' %>
            </div>

            <div class="secondary-contact-method-email">
              <strong>Email</strong>
              <%= mail_to global_site_settings['Email'] if global_site_settings['Email'].present? %>
            </div>

            <div class="secondary-contact-method-phone">
              <strong>Phone</strong>
              <%= global_site_settings['Phone'] if global_site_settings['Phone'].present? %>
            </div>

            <div class="secondary-contact-method-fax">
              <strong>Fax</strong>
              <%= global_site_settings['Fax'] if global_site_settings['Fax'].present? %>
            </div>

            <div class="headquarters-highlight">
              <%= link_to (image_tag 'headquarters.jpg', alt: 'Visit our headquarters'), '/pages/headquarters' %>
              <%= link_to 'Visit our headquarters',
                        '/pages/headquarters',
                        class: 'brown-background button get-directions' %>

            </div>
          </div>

          <div class="secondary-contact-method-map">
            <div id="map-canvas" data-latitude="53.7773527" data-longitude="-1.5870628" data-title="<%= global_site_settings['Name'] %>"></div>

            <div id="map-info-window" class="hide">
              <div class="maps-info-window-popup">
                <%= global_site_settings['Name'] %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="page-contact-methods-wrap">
      <%= render partial: 'shared/sidebar' %>
    </div>
  </div>
</div>
