<div class="services-introductary-triangle services-introductary-triangle--<%= current_service.colour %>" data-animation-type="slideInDown">
  <div class="services-introductary-triangle__inner services-introductary-triangle__inner--<%= current_service.colour %>">
    <div class="services-introductary-triangle__text services-introductary-triangle__text--<%= current_service.colour %>">
      <h1 class="services-introductary-triangle__title">
        <strong><%= section.title %></strong>
        <%= section.subtitle %>
      </h1>

      <div class="services-introductary-triangle__content">
        <%= raw section.content %>
      </div>
    </div>
  </div>
</div>
