<%#= debug facade %>

<%= content_for :javascript do %>
  <script>
  $(".js--banner-testimonials").slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 4000,
    arrows: false,
    dots: true
  });
  </script>
<% end %>

<% present section do |presenter| %>
  <div>
    <div class="physiomed-online-assessment-landing-page-banner-wrap">
      <div class="physiomed-online-assessment-landing-page-banner">
        <div class="physiomed-online-assessment-landing-page-banner__inner">
          <div class="physiomed-online-assessment-landing-page-banner__inner-content">
            <%= presenter.header(:h1, class: 'physiomed-online-assessment-landing-page-banner__title') %>

            <div class="physiomed-online-assessment-landing-page-banner__sub-title">
              <%= presenter.sub_title %>
            </div>

            <%= presenter.content %>
            <%= presenter.button(class: 'physiomed-online-assessment-landing-page-banner__button') %>
          </div>
        </div>

        <% if facade.sections.where(style: 'banner_introduction__testimonial').present? %>
          <div class="physiomed-online-assessment-landing-page-banner__aside">
            <div class="physiomed-online-assessment-landing-page-banner__testimonials js--banner-testimonials">
            <% facade.sections.where(style: 'banner_introduction__testimonial').each do |testimonial| %>
              <% present testimonial do |presenter| %>
                <div>
                  <p><strong><%= presenter.title %></strong></p>
                  <%= presenter.content %>
                </div>
              <% end %>
            <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <%= presenter.image(nil, class: 'home-banner__image') %>
    </div>
  </div>
<% end %>
