<%#= debug facade %>

<% present section do |presenter| %>
  <div class="physiomed-online-assessment-landing-page">
    <div class="physiomed-online-assessment-landing-page__inner">
      <div class="physiomed-online-assessment-landing-page__content-box physiomed-online-assessment-landing-page__content-box--styles">
        <%= presenter.header(:h1, class: 'physiomed-online-assessment-landing-page__title') %>
        <% if presenter.sub_title? %>
          <h2><%= presenter.sub_title %></h2>
        <% end %>
        <%= presenter.content %>
        <%= presenter.button(class: 'generic-orange-button') %>
      </div>
    </div>
  </div>
<% end %>

<% if facade.sections.where(style: 'service_overview__column').present? %>
  <div class="physiomed-online-assessment-service-overview-item">
    <% facade.sections.where(style: 'service_overview__column').each do |column| %>
      <% present column do |presenter| %>
        <div class="physiomed-online-assessment-service-overview-item__inner">
          <%= presenter.header(:h1, class: 'physiomed-online-assessment-landing-page__title') %>
          <% if presenter.sub_title? %>
            <h2><%= presenter.sub_title %></h2>
          <% end %>
          <%= presenter.content %>
          <%= presenter.image(nil) %>
          <%= presenter.button(class: 'generic-orange-button') %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
