<%#= debug facade %>
<div class="physiomed-online-assessment-service-overview-item-wrap">
  <% present section do |presenter| %>
    <div class="physiomed-online-assessment-service-overview-content">
      <div class="physiomed-online-assessment-service-overview-content__inner">
          <%= presenter.header(:h2, class: 'physiomed-online-assessment-service-overview-content__title') %>
          <% if presenter.sub_title? %>
            <h3><%= presenter.sub_title %></h3>
          <% end %>
        <div class="physiomed-online-assessment-service-overview-content__content-box--styles">
          <%= presenter.content %>
          <%= presenter.button(class: 'generic-orange-button') %>
        </div>
      </div>
    </div>
  <% end %>

  <% if facade.sections.where(style: 'service_overview__column').present? %>

    <div class="physiomed-online-assessment-service-overview-item">
      <% facade.sections.where(style: 'service_overview__column').each_with_index do |column, index| %>
        <% present column do |presenter| %>
          <div class="physiomed-online-assessment-service-overview-item__inner <%= 'text-center' if index == 1 %>">
            <%= presenter.header(:h2, class: 'physiomed-online-assessment-landing-page__title') %>
            <% if presenter.sub_title? %>
              <h3><%= presenter.sub_title %></h3>
            <% end %>
            <%= presenter.content %>
            <%= presenter.image(nil) %>

            <% if column.button? %>
              <div class="physiomed-online-assessment-service-overview-item__button-wrap">
                <%= presenter.button(class: 'generic-orange-button') %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
