<%#= debug facade %>

<% present section do |presenter| %>
  <% if section.content? %>
  <div class="physiomed-online-assessment-landing-page">
    <div class="physiomed-online-assessment-landing-page__inner">
      <div class="physiomed-online-assessment-landing-page__content-box physiomed-online-assessment-landing-page__content-box--styles">
        <%= presenter.header(:h2, class: 'physiomed-online-assessment-landing-page__title') %>
        <% if presenter.sub_title? %>
          <h3><%= presenter.sub_title %></h3>
        <% end %>
        <%= presenter.content %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>

<% if facade.sections.where(style: 'sign_up__column').present? %>
  <div class="physiomed-online-assessment-sign-up-item-wrap">
    <div class="physiomed-online-assessment-sign-up-item">
      <% facade.sections.where(style: 'sign_up__column').each_with_index do |column, index| %>
        <% present column do |presenter| %>
          <div class="physiomed-online-assessment-sign-up-item__inner <%= 'text-center' if index.zero? %>">
            <%= presenter.header(:h2, class: 'physiomed-online-assessment-sign-up-item__title') %>
            <% if presenter.sub_title? %>
              <h3 class="physiomed-online-assessment-sign-up-item__sub-title"><%= presenter.sub_title %></h3>
            <% end %>
            <%= presenter.content %>
            <%= presenter.image(nil) %>

            <div class="physiomed-online-assessment-sign-up-item__button-wrap">
              <%= presenter.button(class: 'generic-orange-button') %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
