<%= form_for(@practice) do |f| %>
  <% if @practice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@practice.errors.count, "error") %> prohibited this practice from being saved:</h2>

      <ul>
        <% @practice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="tabs prevent-flash">
    <ul class="tab-list">
      <li><a href="#tabs-1">Content</a></li>
      <li><a href="#tabs-2">Settings</a></li>
      <li>
        <%= link_to '#', class: 'destroy-tabs right', data: { class: 'tabs' } do %>
          <%= octicon('chevron-down') %>
        <% end %>
      </li>
    </ul>

    <%= field_set_tag nil, id: 'tabs-1' do %>
      <div class="field">
        <%= f.label :address %><br>
        <%= f.text_field :address %>
      </div>

      <div class="field">
        <%= f.label :town %><br>
        <%= f.text_field :town %>
      </div>

      <div class="field">
        <%= f.label :county %><br>
        <%= f.text_field :county %>
      </div>

      <div class="field">
        <%= f.label :post_code %><br>
        <%= f.text_field :post_code %>
      </div>

      <div class="field">
        <%= f.label :details_url %><br>
        <%= f.text_field :details_url %>
      </div>
    <% end %>

    <%= field_set_tag nil, id: 'tabs-2' do %>
      <div class="field">
        <%= f.label :display %><br>
        <%= f.check_box :display %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit 'Save' %>
    <%= f.submit 'Save and continue editing' %>
  </div>
<% end %>
