<%= content_for :javascript do %>
  <script>
    $(document).ready(function() {
      $('.home-banner__slick').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 8000,
        arrows: false,
        fade: true
      });
    });
  </script>
  <script>
    // https://stackoverflow.com/questions/1740700/how-to-get-hex-color-value-rather-than-rgb-value
    var hexDigits = new Array
            ("0","1","2","3","4","5","6","7","8","9","a","b","c","d","e","f");

    //Function to convert rgb color to hex format
    function rgb2hex(rgb) {
     rgb = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
      return "#" + hex(rgb[1]) + hex(rgb[2]) + hex(rgb[3]);
    }

    function hex(x) {
      return isNaN(x) ? "00" : hexDigits[(x - x % 16) / 16] + hexDigits[x % 16];
    }
    // Legend! https://stackoverflow.com/questions/5560248/programmatically-lighten-or-darken-a-hex-color-or-rgb-and-blend-colors
    function shadeColor2(color, percent) {
     var f=parseInt(color.slice(1),16),t=percent<0?0:255,p=percent<0?percent*-1:percent,R=f>>16,G=f>>8&0x00FF,B=f&0x0000FF;
      return "#"+(0x1000000+(Math.round((t-R)*p)+R)*0x10000+(Math.round((t-G)*p)+G)*0x100+(Math.round((t-B)*p)+B)).toString(16).slice(1);
    }
    $(document).on('mouseover', '.home-pyramid-content-structure__item', function() {
      var serviceId = $(this).data('service-id');
      $('.home-pyramid-content-overlay').hide();
      $('#service-' + serviceId).show();
      var offset = $(this).position();
      var hexColor = rgb2hex($(this).css('background-color'));
      var backgroundColor = shadeColor2(hexColor, -0.25);
      $('.home-pyramid-content__connector').css({ top: offset.top + 10, backgroundColor: backgroundColor });
    });
    $(document).ready(function() {
      var $item = $('.home-pyramid-content-structure__item:first');
      var offset = $item.position();
      var hexColor = rgb2hex($item.css('background-color'));
      var backgroundColor = shadeColor2(hexColor, -0.25);
      $('.home-pyramid-content__connector').css({ top: offset.top + 10, backgroundColor: backgroundColor });
    })
  </script>
  <%= javascript_include_tag 'components/service_standards' %>
  <%= javascript_include_tag 'components/articles/home' %>
<% end %>

<div class="home-banner">
  <%= image_tag 'layout/home/banner-images.jpg', alt: '', class: 'home-banner__image' %>

  <div class="home-banner__inner">
    <div class="home-banner__slick">
      <%= render @facade.banners %>
    </div>
  </div>

  <%= image_tag 'layout/home/curvy-mask.png', alt: '', class: 'home-banner__mask' %>
</div>

<section class="home-approaches">
  <div class="home-approaches__inner">
    <h2 class="home-approaches__title">
      How We Do It.
    </h2>

    <p class="home-approaches__content">
      Our 3 Step Approach to
      <span class="home-approaches__emphasis">
        <strong>Blended</strong>
        Physiotherapy
      </span>
    </p>
  </div>

  <div class="home-approaches__list">
    <div class="home-approach" data-animation-type="zoomIn">
      <div class="home-approach__step">
        Step
      </div>

      <div class="home-approach__number">
        1
      </div>

      <div class="home-approach__content">
        <div class="home-approach__styles">
          <p>We prevent people going off work.</p>
        </div>

        <ul class="home-approach-benefits">
          <li class="home-approach-benefits__item">
            <%= image_tag 'components/icons/home-cta/1.png', class: 'home-approach-benefits__image' %>
            Job Analysis
          </li>

          <li class="home-approach-benefits__item">
            <%= image_tag 'components/icons/home-cta/2.png', class: 'home-approach-benefits__image' %>
            DSE, Ergonomic and Functional Capacity Assessments
          </li>

          <li class="home-approach-benefits__item">
            <%= image_tag 'components/icons/home-cta/3.png', class: 'home-approach-benefits__image' %>
            Health Checks and MSK Screening
          </li>
        </ul>

        <% # TODO: Link somewhere %>
        <%= link_to 'Learn more', '#', class: 'home-approach__button' %>
      </div>
    </div>
    <div class="home-approach home-approach--orange"  data-animation-type="zoomIn" data-animation-delay="500">
      <div class="home-approach__step">
        Step
      </div>

      <div class="home-approach__number">
        2
      </div>

      <div class="home-approach__content">
        <div class="home-approach__styles">
          <p>We get people back to work.</p>
        </div>

        <ul class="home-approach-benefits">
          <li class="home-approach-benefits__item">
            <%= image_tag 'components/icons/home-cta/4.png', class: 'home-approach-benefits__image' %>
            Phone Triage / Initial Assessment
          </li>

          <li class="home-approach-benefits__item">
            <%= image_tag 'components/icons/home-cta/5.png', class: 'home-approach-benefits__image' %>
            Flexible Treatment to suit each patient
          </li>

          <li class="home-approach-benefits__item">
            <%= image_tag 'components/icons/home-cta/6.png', class: 'home-approach-benefits__image' %>
            Rehabilitation
          </li>
        </ul>

        <% # TODO: Link somewhere %>
        <%= link_to 'Learn more', '#', class: 'home-approach__button' %>
      </div>
    </div>
    <div class="home-approach home-approach--green" data-animation-type="zoomIn" data-animation-delay="750">
      <div class="home-approach__step">
        Step
      </div>

      <div class="home-approach__number">
        3
      </div>

      <div class="home-approach__content">
        <div class="home-approach__styles">
          <p>We keep people fit and well.</p>
        </div>

        <ul class="home-approach-benefits">
          <li class="home-approach-benefits__item">
            <%= image_tag 'components/icons/home-cta/7.png', class: 'home-approach-benefits__image' %>
            Wellbeing Classes
          </li>

          <li class="home-approach-benefits__item">
            <%= image_tag 'components/icons/home-cta/8.png', class: 'home-approach-benefits__image' %>
            Exercise instructional Videos
          </li>

          <li class="home-approach-benefits__item">
            <%= image_tag 'components/icons/home-cta/9.png', class: 'home-approach-benefits__image' %>
            Infographics, articles and Guides
          </li>
        </ul>

        <% # TODO: Link somewhere %>
        <%= link_to 'Learn more', '#', class: 'home-approach__button' %>
      </div>
    </div>
  </div>
</section>

<section class="home-pyramid">
  <div class="home-pyramid-content">
    <div class="home-pyramid-content__pyramid">
      <ul class="home-pyramid-content-structure">
        <%= render partial: 'services/shared/pyramid_strip', collection: @facade.services, as: :service, locals: { parent_class: 'home-pyramid-content-structure' } %>
      </ul>
    </div>

    <div class="home-pyramid-content__connector">
    </div>

    <div class="home-pyramid-content__content">
      <%= render partial: 'services/shared/pyramid_content', collection: @facade.services, as: :service, locals: { parent_class: 'home-pyramid-content-overlay' } %>
    </div>
  </div>
</section>

<%= render @facade.affiliates, current_service: @facade.service if @facade.affiliates? %>

<section class="home-service-standards">
  <div class="home-service-standards__content">
    <h2 class="home-service-standards__title">Service Standards</h2>
  </div>

  <div class="home-service-standards__inner">
    <%= render @facade.service_standards %>
  </div>
</section>

<%= render @facade.clients, current_service: @facade.service if @facade.clients? %>
<%= render @facade.testimonials, current_service: @facade.service if @facade.testimonials? %>

<section class="home-resources">
  <%= image_tag 'layout/home/curvy-mask--footer.png', alt: '' %>

  <div class="home-resources-grid home-resources-grid--negative-margin">
    <div class="home-resources-grid__inner">
      <h2 class="home-resources-grid__title" data-animation-type="slideInDown">Resources for your employees</h2>
    </div>
  </div>

  <div class="home-resources-grid">
    <div class="home-resources-grid__layout">
      <div class="home-resource" data-animation-type="fadeIn">
        <%= link_to wellbeing_zone_root_path, class: 'home-resource__inner' do %>
          <%= image_tag 'layout/home/cta-3.jpg', alt: '' %>

          <h3 class="home-resource__title">
            Employee Health and Wellbeing Zone
          </h3>
        <% end %>
      </div>
      <div class="home-resource" data-animation-type="fadeIn">
        <%= link_to '/categorisation/managing-conditions', class: 'home-resource__inner' do %>
          <%= image_tag 'layout/home/cta-2.jpg', alt: '' %>

          <h3 class="home-resource__title">
            Employee Managing Musculoskeletal Conditions
          </h3>
        <% end %>
      </div>
      <div class="home-resource" data-animation-type="fadeIn">
        <%= link_to '/categorisation/feeling-fab-exercises', class: 'home-resource__inner' do %>
          <%= image_tag 'layout/home/cta-1.jpg', alt: '' %>

          <h3 class="home-resource__title">
            Employee Feeling Fab Exercises
          </h3>
        <% end %>
      </div>
    </div>
  </div>
</section>

<div class="home-find-a-physio">
  <div class="home-find-a-physio-content">
    <div class="home-find-a-physio-content__inner">
      <p>Find a Physio from our network of <strong>2,500</strong> approved Physiotherapists</p>

      <div class="home-find-a-physio-search">
        <%= render 'physio_searches/shared/search', parent_class: 'home-find-a-physio-search' %>
      </div>
    </div>
  </div>
</div>

<section class="home-articles">
  <div class="home-articles__inner">
    <h2 class="home-articles__title">
      Latest News
    </h2>

    <div class="home-articles-slick">
      <%= button_tag(type: 'button', class: "slick-articles slick-prev") do %>
        <
      <% end %>

      <div class="articles">
        <%= render(
          partial: "articles/home_article",
          collection: @facade.articles,
          as: :article,
          cache: @facade.articles
        ) %>
      </div>

      <%= button_tag(type: 'button', class: "slick-articles slick-next") do %>
        >
      <% end %>
    </div>
  </div>
</section>
