<%= content_for :head do %>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
  <%= javascript_include_tag "roi_savings/jquery.simpleslider.min.js" %>
  <%= javascript_include_tag "roi_savings/slider.js" %>
<% end %>

<% if @homepage_facade.banners.any? %>
  <%= content_for :head do %>
    <script type="text/javascript">
      $(document).ready(function() {
        $(".banners").slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 8000,
          arrows: false
        });
      });
    </script>
  <% end %>
  <div class="banners">
    <%= render(
      partial: "banners/banner",
      collection: @homepage_facade.banners
    ) %>
  </div>
<% end %>

<% if @homepage_facade.quick_links.any? %>
  <div class="banner-quick-link-navigation">
    <div class="banner-quick-link-type">
      <ul>
        <% if @homepage_facade.employer_quick_links.any? %>
          <li>
            <%= link_to "Employer", "#",
              class: "hover-toggle active",
              data: {
                container: "employer-quick-links"
              } %>
          </li>
        <% end %>
        <% if @homepage_facade.employee_quick_links.any? %>
          <li>
            <%= link_to "Employee", "#",
              class: "hover-toggle",
              data: {
                container: "employee-quick-links"
              } %>
          </li>
        <% end %>
      </ul>

      <div>
        <% if @homepage_facade.employer_quick_links.any? %>
          <%= render(
            partial: "homes/quick_links",
            locals: {
              quick_link_type: "employer",
              quick_links: @homepage_facade.employer_quick_links
              }
          ) %>
        <% end %>
        <% if @homepage_facade.employee_quick_links.any? %>
          <%= render(
            partial: "homes/quick_links",
            locals: {
              quick_link_type: "employee",
              quick_links: @homepage_facade.employee_quick_links
              }
          ) %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @homepage_facade.health_zones.any? %>
  <%= content_for :head do %>
    <script type="text/javascript">
      $(document).ready(function() {
        $(".health-zones").slick({
          slidesToShow: 3,
          slidesToScroll: 1,
          autoplay: false,
          arrows: true
        });
      });
    </script>
  <% end %>
  <div class="health-zones">
    <%= render(
      partial: "health_zones/home_health_zone",
      collection: @homepage_facade.health_zones,
      as: :health_zone
    ) %>
  </div>
<% end %>

<% if @homepage_facade.additional_contents.any? %>
  <div class="additional-contents">
    <%= render @homepage_facade.additional_contents %>
  </div>
<% end %>

<% if @homepage_facade.service_standards.any? %>
  <div class="service-standards">
    <%= render @homepage_facade.service_standards %>
  </div>
<% end %>
