<%= content_for :javascript do %>
  <%= javascript_include_tag "roi_savings/jquery.simpleslider.min.js" %>
  <%= javascript_include_tag "roi_savings/slider.js" %>
<% end %>

<%= content_for :head do %>
  <%#= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css' %>
  <%#= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css' %>
<% end %>

<% if @homepage_facade.banners.any? %>
  <%= content_for :javascript do %>
    <%= javascript_include_tag "components/banners.js" %>
  <% end %>
  <div class="banners-wrap">
    <%= image_tag 'banner/mask.png', alt: '', class: 'banner-mask' %>
    <%= image_tag 'banner/mask.png', alt: '', class: 'banner-mask' %>

    <div class="banners">
      <%= render(
        partial: "banners/banner",
        collection: @homepage_facade.banners
      ) %>
    </div>

    <% if @homepage_facade.quick_links.any? %>
      <div class="banner-quick-link-navigation-wrap">
        <div class="banner-quick-link-navigation">
          <div class="banner-quick-link-type">
            <ul class="tabs">
              <% if @homepage_facade.employer_quick_links.any? %>
                <li class="brown-background">
                  <%= link_to "Employer", "#",
                    class: "hover-toggle active employer",
                    data: {
                      container: "employer-quick-links"
                    } %>
                </li>
              <% end %>
              <% if @homepage_facade.employee_quick_links.any? %>
                <li class="green-background">
                  <%= link_to "Employee", "#",
                    class: "hover-toggle employee",
                    data: {
                      container: "employee-quick-links"
                    } %>
                </li>
              <% end %>
            </ul>

            <div class="quick-links-container">
              <% if @homepage_facade.employer_quick_links.any? %>
                <%= render(
                  partial: "homes/quick_links",
                  locals: {
                    quick_link_type: "employer",
                    quick_links: @homepage_facade.employer_quick_links
                    }
                ) %>
              <% end %>
              <% if @homepage_facade.employee_quick_links.any? %>
                <%= render(
                  partial: "homes/quick_links",
                  locals: {
                    quick_link_type: "employee",
                    quick_links: @homepage_facade.employee_quick_links
                    }
                ) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>


    <% if @homepage_facade.health_zones.any? %>
      <%= content_for :javascript do %>
        <%= javascript_include_tag "components/health_zones.js" %>
      <% end %>
      <section class="health-wellbeing-zone-wrap">
        <div class="health-wellbeing-zone">
          <h2 class="green-border-bottom text-center content-box-title">Health and well-being zone</h2>

          <div class="slick-controls">
            <%= button_tag(type: 'button', class: "slick-health-zone slick-prev") do %>
              <
            <% end %>
            <%= button_tag(type: 'button', class: "slick-health-zone slick-next") do %>
              >
            <% end %>
          </div>

          <div class="health-zones-wrap">
            <div class="health-zones">
              <%= render(
                partial: "health_zones/home_health_zone",
                collection: @homepage_facade.health_zones,
                as: :health_zone
              ) %>
            </div>
          </div>
        </div>
      </section>
    <% end %>
  </div>
<% end %>


<div class="home content">
  <% if @homepage_facade.additional_contents.any? %>
    <section class="flexbox-wrap additional-home-contents">
      <%= render @homepage_facade.additional_contents %>
    </section>
  <% end %>

  <% if @homepage_facade.service_standards.any? %>
    <%= content_for :javascript do %>
      <%= javascript_include_tag "components/service_standards" %>
    <% end %>
    <div class="service-standards-wrap">
      <section class="box-wrap">
        <div class="service-standards">
          <h2 class="service-standards-title text-center">Service Standards</h2>
          <div class="service-standard-wrap">
            <%= render @homepage_facade.service_standards %>
          </div>
        </div>
      </section>
    </div>
  <% end %>

  <section class="flexbox-wrap">
    <div class="physio-search brown-background">
      <h2 class="white">
        Find a Physiotherapist<br>
        <span class="green">Near you</span>
      </h2>
      <%= render(
        partial: "physio_searches/form",
        locals:
        {
          physio_search: @homepage_facade.physio_search
        }
      ) %>
    </div>

    <% if @homepage_facade.case_studies.any? %>
      <%= content_for :javascript do %>
        <%= javascript_include_tag "components/case_studies/home" %>
      <% end %>
      <div class="case-studies-container white-background">
        <div class="slick-controls">
          <%= button_tag(type: 'button', class: "slick-case-studies slick-prev") do %>
            <
          <% end %>
          <%= button_tag(type: 'button', class: "slick-case-studies slick-next") do %>
            >
          <% end %>
        </div>

        <h2 class="green-border-bottom content-box-title">Case Studies</h2>
        <div class="case-studies">
          <%= render(
            partial: "case_studies/home_case_study",
            collection: @homepage_facade.case_studies,
            as: :case_study
          ) %>
        </div>
      </div>
    <% end %>

    <% if @homepage_facade.testimonials.any? %>
      <%= content_for :javascript do %>
        <%= javascript_include_tag "components/testimonials/home" %>
      <% end %>
      <div class="testimonials-container white-background">
        <h2 class="green-border-bottom content-box-title testimonials-title">What People Say</h2>
        <div class="testimonials">
          <%= render(
            partial: "testimonials/home_testimonial",
            collection: @homepage_facade.testimonials,
            as: :testimonial
          ) %>
        </div>
      </div>
    <% end %>
  </section>

  <% if @homepage_facade.clients.any? %>
    <%= content_for :javascript do %>
      <%= javascript_include_tag "components/clients/home" %>
    <% end %>
    <section class="box-wrap">
      <div class="clients-container">
        <h2 class="green-border-bottom text-center  content-box-title">Some of our happy clients</h2>
        <div class="clients">
          <%= render(
            partial: "clients/home_client",
            collection: @homepage_facade.clients,
            as: :client
          ) %>
        </div>
      </div>
    </section>
  <% end %>

  <% if @homepage_facade.articles.any? %>
    <%= content_for :javascript do %>
      <%= javascript_include_tag "components/articles/home.js" %>
    <% end %>
    <section class="box-wrap">
      <div class="articles-container">
        <h2 class="green-border-bottom text-center  content-box-title">Latest health and well-being news</h2>
        <%= button_tag(type: 'button', class: "slick-articles slick-prev") do %>
          <
        <% end %>
        <div class="articles">
          <%= render(
            partial: "articles/home_article",
            collection: @homepage_facade.articles,
            as: :article
          ) %>
        </div>
        <%= button_tag(type: 'button', class: "slick-articles slick-next") do %>
          >
        <% end %>
      </div>
    </section>
  <% end %>
</div>
