<%= content_for :javascript do %>
  <script>
    $(document).ready(function() {
      $('.home-banner__slick').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 8000,
        arrows: false,
        fade: true
      });
    });
  </script>
<% end %>

<div class="home-banner">
  <%= image_tag 'layout/home/banner-images.jpg', alt: '', class: 'home-banner__image' %>

  <div class="home-banner__inner">
    <div class="home-banner__slick">
      <%= render @facade.banners %>
    </div>
  </div>

  <%= image_tag 'layout/home/curvy-mask.png', alt: '', class: 'home-banner__mask' %>
</div>

<section class="home-approaches">
  <div class="home-approaches__inner">
    <h2 class="home-approaches__title">
      How We Do It.
    </h2>

    <p class="home-approaches__content">
      Our 3 Step Approach to
      <span class="home-approaches__emphasis">
        <strong>Blended</strong>
        Physiotherapy
      </span>
    </p>
  </div>

  <div class="home-approaches__list">
    <div class="home-approach">
      <div class="home-approach__step">
        Step
      </div>

      <div class="home-approach__number">
        1
      </div>

      <div class="home-approach__content">
        <div class="home-approach__styles">
          <p>We prevent people going off work.</p>
        </div>

        <ul class="home-approach-benefits">
          <li class="home-approach-benefits__item">
            <%= image_tag 'https://placehold.it/45x45', class: 'home-approach-benefits__image' %>
            Job Analysis
          </li>

          <li class="home-approach-benefits__item">
            <%= image_tag 'https://placehold.it/45x45', class: 'home-approach-benefits__image' %>
            DSE, Ergonomic and Functional Capacity Assessments
          </li>

          <li class="home-approach-benefits__item">
            <%= image_tag 'https://placehold.it/45x45', class: 'home-approach-benefits__image' %>
            Health Checks and MSK Screening
          </li>
        </ul>
      </div>
    </div>
    <div class="home-approach">
      <div class="home-approach__step">
        Step
      </div>

      <div class="home-approach__number">
        1
      </div>

      <div class="home-approach__content">
        <div class="home-approach__styles">
          <p>We prevent people going off work.</p>
        </div>

        <ul class="home-approach-benefits">
          <li class="home-approach-benefits__item">
            <%= image_tag 'https://placehold.it/45x45', class: 'home-approach-benefits__image' %>
            Job Analysis
          </li>

          <li class="home-approach-benefits__item">
            <%= image_tag 'https://placehold.it/45x45', class: 'home-approach-benefits__image' %>
            DSE, Ergonomic and Functional Capacity Assessments
          </li>

          <li class="home-approach-benefits__item">
            <%= image_tag 'https://placehold.it/45x45', class: 'home-approach-benefits__image' %>
            Health Checks and MSK Screening
          </li>
        </ul>
      </div>
    </div>
    <div class="home-approach">
      <div class="home-approach__step">
        Step
      </div>

      <div class="home-approach__number">
        1
      </div>

      <div class="home-approach__content">
        <div class="home-approach__styles">
          <p>We prevent people going off work.</p>
        </div>

        <ul class="home-approach-benefits">
          <li class="home-approach-benefits__item">
            <%= image_tag 'https://placehold.it/45x45', class: 'home-approach-benefits__image' %>
            Job Analysis
          </li>

          <li class="home-approach-benefits__item">
            <%= image_tag 'https://placehold.it/45x45', class: 'home-approach-benefits__image' %>
            DSE, Ergonomic and Functional Capacity Assessments
          </li>

          <li class="home-approach-benefits__item">
            <%= image_tag 'https://placehold.it/45x45', class: 'home-approach-benefits__image' %>
            Health Checks and MSK Screening
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
