<div class="<%= parent_class %>__item <%= parent_class %>-testimonial" id="testimonial-<%= testimonial.id %>">
  <div class="<%= parent_class %>-testimonial__content">
    <%= simple_format testimonial.content %>
  </div>

  <div class="<%= parent_class %>-testimonial__author">
    <%= testimonial.author %>
  </div>

  <div class="<%= parent_class %>-testimonial__role">
    <%= testimonial.role %>
  </div>
</div>

