<%= render 'optimadmin/shared/header/main_title', title: "#{@member.body['merge_fields']['FNAME']} #{@member.body['merge_fields']['LNAME']}" %>

<div class="main-content">
  <div class="row module-header collapse">
    <%= mail_to @member.body['email_address'] %>

    <%#= debug @member %>
    <% @activity.body['activity'].each do |activity| %>
      <div>
        <div>
          <%= content_tag :strong, activity['title'] %>
        </div>
        <%= activity['action'] %>
        <%= l activity['timestamp'].to_datetime, format: :short %>
      </div>
    <% end %>
  </div>
</div>
