<section class="box-wrap">
  <div class="videos-with-guides-container" id="video-with-guide-<%= video.id %>">
    <div class="videos-with-guides-container-title">
      <h2>
        <%= video.title %>
      </h2>
    </div>

    <div class="videos-with-guides wellbeing">
      <div class="video-with-guide">
        <div class="basic-details-subcategories">
          <h3 class="video-subtitle">
            <%= video.subtitle %>
          </h3>

          <%= raw video.content %>
        </div>
        <div class="video-iframe-subcategories">
          <div class="flex-video widescreen">
            <%= raw iframe_for(video, width: 345, height: 248) %>
          </div>
          <div class="youtube-title">
            <%= video.title %>
          </div>
        </div>
        <div class="guide guide-subcategory">
          <% present guide do |guide_presenter| %>
            <% if guide.image? %>
              <div>
                <%= guide_presenter.linked_download(image_tag(guide.image_url(:show), alt: guide.title, title: guide.title), class: 'ga-event', data: { event_name: 'Infographic Download', item_name: guide.title }) %>
              </div>
            <% end %>
            <%= guide_presenter.linked_download("Download", class: 'button brown-background ga-event', data: { event_name: 'Infographic Download', item_name: guide.title }) %>
          <% end %>
      </div>
      </div>
    </div>
  </div>
</section>
