<%= content_for :javascript do %>
<script type="text/javascript" charset="utf-8">
  function smoothScroll(elem) {
    $('html, body').animate({
      scrollTop: $(elem).offset().top
    }, 500, function () {
      window.location.hash = elem;
    });
  }

  $('#apply-button').click(function() {
    var elem = $.attr(this, 'href');
    smoothScroll(elem);
    return false;
  });

</script>
<% end %>
<div class="hero-section standard-page-background">
  <div class="hero-section-header">
    <h1 class="hero-section-title full-width">
      <%= @job_listing_facade.title %>
    </h1>
  </div>

  <div class="hero-section-primary-content">
    <div class="page-content-wrap full-width">
      <div class="page-content">
        <%= image_tag "hiring.png", class: 'page-content-image', alt: "We're hiring", title: "We're hiring" %>
        <%= link_to "Apply Now", "#job-application-form", id: "apply-button" %>

        <%= raw @job_listing_facade.description %>

        <div class="page-content-footer">
          <%= link_to "View All", job_listings_path, class: "button brown-background" %>
        </div>
      </div>
      <div id="job-application-form" class="page-content">
        <h3>Apply Now</h3>
        <%= render(
          partial: 'job_applications/form', 
          locals: {
            job_listing: @job_listing_facade.job_listing,
            job_application: @job_listing_facade.job_application
          }
        ) %>
      </div>
    </div>

    <div class="page-contact-methods-wrap">
      <%= render(
        partial: 'shared/sidebar',
        locals: {
          call_to_action: true,
          testimonials: nil,
          team_members: nil,
          health_zone: wellbeing_zone_health_zone,
          case_studies: latest_case_studies,
          articles: latest_articles,
        }
      ) %>
    </div>
  </div>
</div>
