<%= render 'optimadmin/shared/header/main_title', title: "Manage #{Service.model_name.human.pluralize.titleize}" %>

<div class="main-content">
  <div class="row module-header collapse">
    <%= render 'optimadmin/shared/module/index/new_item', title: Service.model_name.human.titleize, object: Service, path: new_service_path %>
    <%= render 'optimadmin/shared/search_form' %>
    <%= render 'optimadmin/shared/module/index/pagination' %>
    <!-- <%= render 'optimadmin/shared/module/index/order', options: [['A-Z', 'title ASC'], ['Z-A', 'title DESC'], ['Displayed', 'display DESC'], ['Hidden', 'display ASC']] %> -->
    <!-- <%= render 'optimadmin/shared/module/index/recycle_bin', items: @services.size, path: root_url %> -->
  </div>

  <div class="row collapse module-list-index header">
        <%= list_item 'large-1 hide-for-medium-down' do %>
      <%= link_to octicon('settings') %>
    <% end %>

    <%= list_item '' do %>
      <%= link_to octicon('chevron-down'), '#', class: 'helper-link index-list-expand-all', data: { this_class: 'octicon-chevron-up octicon-chevron-down' } %>
      Title
    <% end %>


    <%= list_item('large-2 hide-for-medium-down text-center') { 'Image' } %>
    <%= list_item('large-1 small-4 text-center') { 'Display' } %>
    <%= list_item('large-1 small-4 text-center') { 'View' } %>
    <%= list_item('large-1 small-4 text-center') { 'Edit' } %>
    <%= list_item('large-1 text-center last') { 'Delete' } %>
  </div>

    <div class="module-sortable" data-module="Service">
    <%= render partial: 'service', collection: @services, as: :service, cached: true %>
  </div>

  <%= paginate @services %>
</div>
