<div class="home-pyramid-content-overlay <%= parent_class %>--<%= service.colour %>  <%= parent_class %>--<%= service_counter + 1 %>" id="service-<%= service.id %>">
  <%= raw service.summary %>
  <%= link_to 'Learn more', service, class: 'home-pyramid-content-overlay__button' %>
</div>
