<% present landing_page do |landing_page_presenter| %>
  <div class="row collapse module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list" id="item_<%= landing_page_presenter.id %>">
    <div class="large-4 small-8 columns" data-equalizer-watch="module-list">
      <%= landing_page_presenter.title %>
    </div>
    <div class="large-2 small-4 columns" data-equalizer-watch="module-list">
      <%= link_to optimadmin.landing_page_sections_path(landing_page) do %>
        <%= pluralize landing_page.sections_count, 'Section' %>
      <% end %>
    </div>
    <div class="large-2 hide-for-medium-down columns" data-equalizer-watch="module-list">
      <%= landing_page_presenter.edit_image(:image) %>
    </div>
    <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
      <%= landing_page_presenter.toggle_link %>
    </div>
    <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
      <%= landing_page_presenter.view_link %>
    </div>
    <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
      <%= landing_page_presenter.edit_link %>
    </div>
    <div class="large-1 hide-for-medium-down columns last" data-equalizer-watch="module-list">
      <%= landing_page_presenter.delete_link %>
    </div>
    <div class="small-12 module-list-additional-row columns">
    <div class="row collapse" id="index-list-<%= landing_page_presenter.id %>">
      <div class="large-12 columns">
        <%= landing_page_presenter.manage_guides %>
      </div>
    </div>
  </div>
  </div>
<% end %>
