<div class="hero-section standard-page-background">
  <div class="hero-section-header">
    <h1 class="hero-section-title full-width">
      <%= @case_study.title %>
    </h1>
  </div>

  <div class="hero-section-primary-content">
    <div class="page-content-wrap full-width">
      <div class="page-content">
        <%= image_tag @case_study.image.show, class: 'page-content-image', alt: @case_study.title if @case_study.image? %>

        <%= raw @case_study.content %>

        <div class="page-content-footer">
          <%= link_to "View All", case_studies_path, class: "button brown-background" %>
        </div>
      </div>
    </div>

    <div class="page-contact-methods-wrap">
      <%= render partial: 'shared/sidebar', locals: {
        hide_case_studies: true
      }
      %>
    </div>
  </div>
</div>
