
<% present services_affiliate do |services_affiliate_presenter| %>
  <div class="row collapse module-list-index <%= cycle('odd', 'even') %>" id="item_<%= services_affiliate_presenter.id %>">
          <div class="large-1 hide-for-medium-down columns">
        <span class="drag-helper"></span>
      </div>
    
    <div class="columns">
      <%= services_affiliate_presenter.title %>
    </div>

          <div class="large-2 hide-for-medium-down columns">
        <%= services_affiliate_presenter.edit_image(:image) %>
      </div>
    
    <div class="large-1 small-4 text-center columns">
      <%= services_affiliate_presenter.toggle_link %>
    </div>

    <div class="large-1 small-4 text-center columns">
      <%= services_affiliate_presenter.view_link %>
    </div>

    <div class="large-1 small-4 text-center columns">
      <%= services_affiliate_presenter.edit_link %>
    </div>

    <div class="large-1 text-center columns last">
      <%= services_affiliate_presenter.delete_link %>
    </div>
  </div>
<% end %>

