<%= render 'optimadmin/shared/header/main_title', title: t('optimadmin.views.module.index.title', model_name: Services::Affiliate.model_name.human.pluralize.titleize) %>

<div class="main-content">
  <div class="row module-header collapse">
    <%= render 'optimadmin/shared/module/index/new_item', title: Services::Affiliate.model_name.human.titleize, object: Services::Affiliate, path: { action: :new } %>
    <%= render 'optimadmin/shared/search_form' %>
    <%= render 'optimadmin/shared/module/index/pagination' %>
    <!-- <%= render 'optimadmin/shared/module/index/order', options: [['A-Z', 'title ASC'], ['Z-A', 'title DESC'], ['Displayed', 'display DESC'], ['Hidden', 'display ASC']] %> -->
    <!-- <%= render 'optimadmin/shared/module/index/recycle_bin', items: @services_affiliates.size, path: root_url %> -->
  </div>

  <div class="row collapse module-list-index header">
        <%= list_item 'large-1 hide-for-medium-down' do %>
      <%= link_to octicon('settings') %>
    <% end %>
        <%= list_item('') { 'Title' } %>
        <%= list_item('large-2 hide-for-medium-down') { 'Image' } %>
        <%= list_item('large-1 small-4 text-center') { 'Display' } %>
    <%= list_item('large-1 small-4 text-center') { 'View' } %>
    <%= list_item('large-1 small-4 text-center') { 'Edit' } %>
    <%= list_item('large-1 text-center last') { 'Delete' } %>
  </div>

    <div class="module-sortable" data-module="Services::Affiliate">
    <%= render partial: 'services_affiliate', collection: @services_affiliates, as: :services_affiliate, cached: true %>
  </div>
  
  <%= paginate @services_affiliates %>
</div>
