
  <section class="box-wrap">
  <div class="videos-with-guides-container" id="video-with-guide-<%= guide.id %>">
    <div class="videos-with-guides-container-title">
      <h2>
        <%= guide.title %>
      </h2>
    </div>
    <div class="videos-with-guides wellbeing">
      <div class="video-with-guide">
        <div class="basic-details large-width">
          <%= raw guide.content %>
        </div>
        <div class="guide">
          <% if guide.image? %>
            <div>
              <%= link_to image_tag(guide.image_url(:show), alt: guide.title, title: guide.title), guide.file.url, class: 'ga-event', data: { event_name: (defined?(ga_event_name) ? ga_event_name : 'Infographic Download'), action_name: (defined?(ga_action_name) ? ga_action_name : 'Click'), item_name: (defined?(ga_item_name) ? ga_item_name : guide.title) } %>
            </div>
          <% end %>
          <%= link_to "Download", guide.file.url,
              class: 'button brown-background ga-event', data: { event_name: (defined?(ga_event_name) ? ga_event_name : 'Infographic Download'), action_name: (defined?(ga_action_name) ? ga_action_name : 'Click'), item_name: (defined?(ga_item_name) ? ga_item_name : guide.title) } %>
        </div>
      </div>
    </div>
  </div>
</section>
