<%= content_for :javascript do %>
  <script>
    $(document).on({
    mouseenter: function (e) {
      var $dropdown = $(this).find('.dropdown-arrow');
      var marginLeft = parseInt($(this).find('.menu-link').width() / 2) - (parseInt($dropdown.width()) / 2)
      $dropdown.toggleClass('visible');
      $dropdown.css('margin-left', marginLeft);
    },
    mouseleave: function () {
      $(this).find('.dropdown-arrow').toggleClass('visible').removeAttr('style');
    }
    }, '.primary-header-navigation li');
  </script>
<% end %>

<header class="primary-header">
  <div class="primary-header-content-wrap">
    <div class="primary-header-content">
      <%= link_to 'Client Area', '#', class: 'client-area-button' %>
    </div>
  </div>

  <div class="primary-header-content-wrap">
    <div class="primary-header-branding">
      <%= link_to root_url do %>
        <%= image_tag "logo.jpg", alt: "Physio Med", title: "Physio Med", id: "physiomed-logo" %>
      <% end %>
    </div>

    <nav class="primary-header-navigation-wrap">
      <ul class="primary-header-navigation" id="header-navigation">
        <%= nested_menu_items(menu_items: header_menu.menu_items) %>
      </ul>
    </nav>

    <div class="primary-header-cta">
      <%= link_to 'Call Us', '#', class: 'primary-header-call-us' %>
      <%= link_to 'Find Us', '#', class: 'primary-header-find-us' %>
    </div>
  </div>
</header>
